<!--
  Generated template for the AboutPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{Titpag}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgazul">
<div class="credit text-center">
                <h2>{{Lider}}</h2>
                <h4>ALEJANDRO ACOSTA</h4>
                <hr>
                <h2>{{Desarrollador}}</h2>
                  <h4>JAUREGUI CRESPO</h4>
                  <h4>DANIEL GARZÓN</h4>
                  <h4>SANTIAGO OCHOA</h4>
                  <h4>ANDREAS BRANDT</h4>
                  <h4>JESÚS SUÁREZ</h4>
                  <h4>LEMBER ROMERO</h4>
                  
                <hr>
                <h2>{{Disenador}}</h2>
                  <h4>VICTOR CORREA</h4>
                  <h4>BELISA MORLES</h4>
                <hr>
                <h2>{{Patrocinante}}</h2>
                  <a href="https://www.internetsociety.org/" target="_blank"><h4>ISOC</h4></a>
                  <a href="https://www.lacnic.net/despliegaIPv6" target="_blank"><h4>LACNIC</h4></a>
                
                  <h2>{{Version}}</h2>
                  <h4>{{versionNum}}</h4> 
                  <h4>{{fechaVersion}}</h4>
                  
              </div>
</ion-content>
