page-about {
    .back-button-text {
        opacity: 0;
    }
    .credit h2 {
        color:white;
        background: #0D4F65;
        font-size: 22px;
        box-shadow: 0px 12px 22px -4px rgba(173, 169, 35, 0.41);
    }
    
    h4 {
        color:white;
        font-size: 18px;
    }
    .toolbar-title-ios {
        color: #abca32 !important;
      }
      .bgazul::before{
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #00000044;
    }
}
