<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{iniciarsesion}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgazul" class="bgazul centro">
<p>{{texto}}</p>
  <button class="btnSocial" (click)="LoginFacebook()">
    <ion-icon class="iconsocial" name="logo-facebook"></ion-icon>
    <span>{{LoginConFacebook}}</span>
  </button>  
  <button class="btnSocial {{ocultar}}" (click)="LoginTwitter()">
    <ion-icon class="iconsocial" name="logo-twitter"></ion-icon>
    <span>{{LoginConTwitter}}</span>
  </button>
  <button class="btnSocial {{mostrar}} apple" (click)="loginWithApple()">
    <ion-icon class="iconsocial" name="logo-apple"></ion-icon>
    <span>{{LoginConApple}}</span>
  </button>
  <button class="btnSocial" (click)="LoginInstagram()">
    <ion-icon class="iconsocial" name="logo-instagram"></ion-icon>
    <span>{{LoginConInstagram}}</span>
  </button>
</ion-content>
