page-login {

    .btnSocial{
        background-image: url('../../assets/imgs/botones-menu.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        background-color: transparent;
    border: 0px;
    height: 45px;
    color: #ffffff;
    width: 80%;
    margin: 10px auto;
    border-radius: 3px;
    position: relative;
 }
 p {
    margin: 20px 5px;
    color: white;
    font-size: 15px;
}
.iconsocial{
    font-size: 28px;
    position: absolute;
    left: 37px;
    top: 10px;
}
.back-button .back-button-text{
    display: none !important;
}
.apple{
    display: none;
}
.ocultar{
    display: none !important;
}
.mostrar{
    display: block !important;
}
.bgazul::before{
    content: '';
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background: #00000044;
}
}
