page-home {
    @font-face{
        font-family: PermanentMarker;
        src: url(../fonts/PermanentMarker-Regular.ttf)
      }
    ion-icon {
            display: inline-block;
            font-size: 30px;
        }
        .bgazul {
            // background-color: #015A75;
            -webkit-box-shadow: inset 0px 36px 52px -17px #000000;
            box-shadow: inset 0px 36px 52px -17px #000000;
            background-image: url(../../assets/imgs/fondox.jpg);
            text-align: center;
            background-size: cover;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-position-x: center;
            overflow: hidden;
        }
        .bgazul::before{
            content: '';
            width: 100%;
            height: 100vh;
            position: absolute;
            top: 0;
            left: 0;
            background: #00000044;
        }
    .vers{
        position: absolute;
        bottom: 10px;
        font-size: 10px;
        color: yellow;
        text-align: center;
        width: 100%;
        left: 0;
    
    }
    ion-fab[bottom] {
    bottom: 60px !important;
}
ion-slides {
    height: 88% !important;
}
.fab ion-icon {
    font-size: 3rem !important;
}
ion-fab-list[side=left] {
    right: -10px !important;
    margin-top: -5px !important;
}
.fab{
    width: 46px !important;
    height: 46px !important;
}
.fab-close-icon {
    top: -6px !important
}
.fab-ios {
    color: #fff;
    background-color: #abca32;
    border: 2px solid black;
}
    .logo2{
        width: 200px; 
    }
    .btnjugar{
        padding: 1px 50px 5px 50px;
        border-radius: 10px;
        background: #abca32;
        color: black;
        font-size: 30px;
        -webkit-text-stroke: 1px white;
        border: 2px solid black;
        font-weight: bold;
        -webkit-box-shadow: 0px 15px 13px -8px black;
        box-shadow: 0px 15px 13px -8px black;
        margin-top: 35px;
        
    }
    .titSelect{
        font-size: 25px;
        color: #ffff00;
        margin: 15px auto;
        z-index: 2;
        text-transform: uppercase;
        font-family: PermanentMarker;
        -webkit-text-stroke: 1px black;
    }
    // .contBtn{
    //     margin-top: 100px;
    // }
    .ocultar{
        display: none !important;
    }
.Homelogo{
    position: fixed;
    bottom: 0px;
    left: -65px;
    height: 204px;
    z-index: 0;
    opacity: 0.6 !important;
}
    .btnJuegos{
        background-image: url('../../assets/imgs/botones-menu.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-width: 75%;
        height: 40px;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
        border: 0px;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }
    
      .btnsetting:hover .contents {
        visibility: visible;
        opacity: 1;
      }
      .toolbar-title-md {
        color: #fff;
        margin-right: 0 !important;
        text-align: center;
    }
    .boxUlt{
        position: relative;
        height: 36px;
    }
    .btnttl{
        float: left;
        background: url('../../assets/imgs/fondoTTL.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: none;
        width: 70px;
    }
    .btncoin{
        float: right;
        background: url('../../assets/imgs/fondoCoin.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: none;
        width: 80px;
    }
    .boxDesc{
        margin-bottom: 10px; 
        color:white;       
    }
    .txtCoin{
        margin-right: 20px;
        font-size: 15px;
    }
    .coin{
        width: 30px;
    }
    .ttl{
        width: 30px;
    }
    .ModalTienda{
        display: none;
        background: #000000ab;
        height: calc(100vh - 56px);
        width: 100%;
        position: fixed;
        z-index: 20;
        top: 0;
    }
    .BoxTienda{
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto;
        background-color: transparent;
        width: 300px;
        height: 190px;
        background: url('../../assets/imgs/boxEnd.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .titTienda{
        font-size: 30px;
    top: -40px;
    color: white;
    left: 0;
    right: 0;
    margin:0;
    border-radius: 20px;
    -webkit-text-stroke: 1px black;
    font-family: PermanentMarker;
    }
    .boxCOIN{
        right: 10px;
        position: absolute;
        background: url('../../assets/imgs/fondoCoin.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;        
        box-shadow: none;
        width: 100px;
    }
    .boxTTl{
        background: url('../../assets/imgs/fondoTTL.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        box-shadow: none;
        width: 100px;
        left: 10px;
        position: absolute;
    }
    .txtTtl{
        margin-left: 15px;
        font-size: 15px;
    }
    .height{
        height: 50px;
    }
    .minicoin img{
        width:20px;
    }
    .minittl{
        width:20px;
    }
    .cerrar{
        font-size: 25px;
        position: absolute;
        top: -53px;
        right: -5px;
        color: #62645d;
        border: 0px solid #adca3f;
        background-color: transparent;
        background: url('../../assets/imgs/botones-x.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        width: 50px;
        height: 40px;
    }
    .mostrar{
        display: block !important;
    }
    .ModalTienda ion-input {
        width: 20%;
        border: 1px solid #ffffff;
        border-radius: 6px;
        margin: auto;
        height: 45px;
        color: white;
    }
    .text-input {
        padding: 0 0 0 17px !important;

    }
    .ion-ios-add-circle-outline{
        font-size: 16px !important;
    }
    .txtTtl1, .txtCoinTienda1{
        padding-top: 6px;
        color: white;        
        font-size: 15px;
    }
    .txtCoinTienda1{
        margin-right: 40px;
        text-align: right;
    }
    .btnttlTienda{
        width: 15px;
    }
    .btnComprar{
        width: 70%;
        margin: auto;
        bottom: -74px;
        border-radius: 10px;
        background-color: transparent;
        color: white;
        font-weight: bold;
        background: url('../../assets/imgs/botones-modal.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
      .Imgtitu{
          width: 110px;
          margin-left: 5%;
      }
      .back-button.show-back-button {
        display: none !important;
    }
    .Iconbar{
        font-size: 30px !important;
    }
	.seleccion h2,.seleccion h6{
        color:white;    
    }
    .seleccion ion-slide{
        position: relative;
    }
    .relative{
        position: relative;
    }
    .contStar{
        position: relative;
        height: 35px;
    }
    h6{
        
    }
    .star{
        
    }
    .bnt1:hover h6{
        display:block;
    }
    .swiper-slide img {
        max-width: 66%;
    }
    .swiper-pagination-bullet-active {
        background: #abca32;
    }
      @media (min-width: 768px){
        .Imgtitu {
        margin-left: 0;
        }
        .logo2{
            padding-top: 10%;
            width: 300px;
        }
        .btnJuegos{
            min-width: 400px;
            font-size: 25px;
            height: 60px;
        }
        .bar-buttons{
            width: 140px;
        }
}
@media (min-width: 600px){
        
    .bar-buttons{
        width: 200px;
    }
}
@media (max-width: 320px){
    .titSelect {
        font-size: 16px;
  }
 .btnJuegos{
    min-width: 95%;
    font-size: 19px;
    margin-bottom: 5px;
    height: 50px;
 }
 ion-icon {
    display: inline-block;
    font-size: 19px;
}
.btnjugar {
    font-size: 20px;
}
.logo2 {
    width: 149px;
}

.BoxTienda{
	width: 100%;
}
}
}
    