<ion-header>
    <ion-navbar>
      
     <a href="" (click)="preHome()"> <img class="Imgtitu" src="/assets/imgs/logoangelB.png" alt=""></a>
      <ion-buttons end>
            <button ion-button icon-only onclick="SelecMusica()" (click)="SelecMusica()"><ion-icon name="{{iconMusica}}"></ion-icon></button>
            <button ion-button icon-only [navPush]="settings" ><ion-icon name="settings"></ion-icon></button>          
            <button *ngIf="!login" ion-button icon-only color="royal" [navPush]="loginpage"><ion-icon class="Iconbar" name="log-in"></ion-icon></button> 
            <button *ngIf="login"  ion-button icon-only color="royal" [navPush]="info"><ion-icon class="Iconbar" name="contact"></ion-icon></button> 
            
      </ion-buttons>
    </ion-navbar>
  </ion-header>
  
  
  <ion-content pager class="bgazul" >
      <div class="boxUlt">
          <button ion-button icon-only class="btnttl" (click)="ModalComprar()"> 
              <h4 class="txtTtl">{{ttl}}</h4>
          </button>
          <button ion-button icon-only class="btncoin">
            <h4 class="txtCoin">{{coin}}</h4>
          </button>
      </div>
    <div class="titSelect" >{{selec}}</div>
    <div class="contBtn">
      <button (click)="openPage('memoria')" class="btnJuegos">{{txtMemoria}}</button>
      <button (click)="openPage('drag')" class="btnJuegos">{{txtDrag}}</button>
      <button (click)="openPage('crucigrama')" class="btnJuegos">{{txtCrucigrama}}</button>
      <button (click)="openPage('trivia')" class="btnJuegos">{{txtInterprete}}</button>
      <button (click)="openPage('discos')" class="btnJuegos {{classDisco}}">{{txtDiscos}}</button>
      <button (click)="openPage('conceptos')" class="btnJuegos">{{txtConceptos}}</button>
    </div>
    <img alt="" src="/assets/imgs/icon.png" class="Homelogo animated fadeInLeft">
      
        <div class="{{ClassModalTienda}}">
          <div [class]="ClassBoxTienda" >
            <h1 class="titTienda">{{Tienda}}</h1>
            <div class="relative height">
                <div class="cerrar" (click)="cerrarModal()"></div>
                <div class="boxCOIN">
                    <h4 class="txtCoinTienda1">{{coin}}</h4> 
                </div>
                <div class="boxTTl">
                    <h4 class="txtTtl1">{{ttl}}</h4>
                </div>
            </div>
            <div class="relative height">
                  <div class="boxDesc">1 TTL<img class="minittl" src="/assets/imgs/ttl50.png" alt="tld">  
                    <span class="minicoin">= 100 <img  src="/assets/imgs/coin50.png" alt="tld">
                    </span>
                  </div>
                  <ion-input type="number" [(ngModel)]="nttl" placeholder="0" ></ion-input>
                  
                  
                  <button ion-button class="btnComprar" (click)="comprar()">{{btnCompra}} 
                    <img class="btnttlTienda" type="submit" src="/assets/imgs/ttl50.png" alt="tld">
                  </button>
              
            </div>
                    
          </div>
        </div>        
  </ion-content>
  