

body{
	background-image:url(../imgs/bg-crucigrama.png);
	background-size: auto 100%;
	background-attachment: fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size: cover;
	background-color: #FFFFFF;
	text-align: center;
	margin:0 !important;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
}
.questionsTips{
	background-color:rgba(0, 0, 0, 0.5);
	color:#FFF;
	display:none;
	position:relative;
	font-family:"Courier New",Courier,monospace;
	font-size:12px;
	padding:10px;
	line-height:15px;
	padding-bottom: 28px;
	height: 80px;
    overflow-y: auto;
}
.questionsTips::-webkit-scrollbar {
	width: 5px;
  background: #fff0;
}
.questionsTips::-webkit-scrollbar-thumb {
	background: #fff;
  border-radius: 20px;
}
#content{
	top: 0;
	position: absolute;
	width: 100%;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
}

#crgame{
	padding-top:80px;
}
#questions1117 {
    bottom: 0;
    width: 100%;
    height: 45px;
    top: 105px;
    position: fixed;
}
.ios #questions1117 {
	top: 80px;
}
.head {
    width: 100%;
    z-index: 99;
    position: fixed;
    top: 0;
    height: 106px;
}