
@media screen and (max-width: 769px){
	.drag{
		background-size: 100% 100%;
	}
	.drag .input{
		height: 30px;
	}
	.memoria .titAviso {
		padding: 38px 20px 62px 20px;
	}

}
@media screen and (min-width: 769px){


}
@media screen and (max-width: 600px){
	.drag .title{
		font-size: 24px;
	}
	.drag .caja{
		padding: 2px 10px;
	}
	.drag .ui-state-highlight{
		font-size: 17px;
	}
}
@media screen and (min-width: 600px){	
	.memoria #imagenes p{
		line-height: 103px;
	  }
	  .memoria #imagenes div{
		height: 122px
	  }
}
@media screen and (max-width: 480px){
	.logo{
		width: 100%;
	}
	.logo img{
		width: 100%;
	}
	.memoria #imagenes p{
		font-size: 14px;	
		padding: 21px 0;
	}

}
@media screen and (max-width: 440px){
	.menu {
		top: 30px !important;
	}
	.menu .opciones{
		width: 55%;
	}
	.menu .opciones > div h2{
		font-size: 45px;
	}
	.menu .circulo{
		width: 70%;
		top: 22px;
	}
	.por .menu .opciones > div h2{
		font-size: 50px;
	}
}
@media (min-width: 768px) and (max-width: 1024px){
	.imgSolu {
		width: 300px;
	}
	.tabcontent {
		margin-top: 25px;
	}
	#LooseModal .modal-content, #WinModal .modal-content{
		height: 100% !important;
	  }
	  .shotDisc{
		width: 270px;
		height: 80px;
	  }
}
@media screen and (max-height: 700px){
	.memoria{
		overflow: hidden;
	}
}
@media screen and (min-width: 600px){
	.pantBlock{
		width: 460px;
	}
}
@media screen and (max-height: 600px){
	.drag .caja {
	    padding: 1px 6px;
	    font-size: 14px;
	}
	.drag .title {
	    font-size: 24px;
	}
	.drag .input {
	    height: 24px;
	}
}
@media screen and (max-width: 480px){
	.modal-body{
		padding:10px; 
	}
	.modal .game-info{
		font-size: 12px;
	}
	.modal-header{
		padding: 5px;
	}
	.modal hr{
		margin: 12px 0px;
	}
	.level-difficulty h4{
		margin-top: 10px;
	}
	input .help-input{
		background: #6a516bd5 ;  
	  }
	input  .help-input::placeholder{
		color:white ; 		
	  }
	  .pantBlock{	
		width: 339px
	}
}
@media screen and (max-width: 420px){
	.overCart{
		height: calc(100vh - 100px) !important;
		margin: initial !important;
		top: 100px !important;
		overflow-y: auto;
		overflow-x: hidden;
		-webkit-overflow-scrolling: touch;
	}
	.memoria .titAviso {
		padding: 38px 20px 45px 20px;
	}

}
@media (min-width: 411px) and (max-width: 500px){
	.overFw {
		width: 411px;
		margin: auto;
	}
}
@media screen and (max-width: 350px){
	.menu .opciones > div h2{
		font-size: 40px;
	}
	.por .menu .opciones > div #settings {
	    right: 2px;
	}
	.por .menu .opciones > div h2{
		font-size: 40px;
	}
	.por .menu .opciones > div #play, 
	.menu .opciones > div #about{
		left: 28px;
	}
	.disc #ActualQuestion{
		font-size: 15px;
	}
	.menu .opciones {
		padding-top: 60px;
	}
	.menu .circulo {
		right: -120px;
		top: 75px;
	}
	
}
@media screen and (max-width: 320px){
	.level-difficulty button{
		border-radius: 50px;
	}
	.memoria #imagenes div{
		width: 30%;
	}
.pantBlock{	
    width: 249px;
}
.level-difficulty button{
	min-width: 50%;
}
#levelModal .boxStar {
    width: 50%;
    text-align: right;
}
.star {
    width: 23%;
    height: 28%;
}
#levelModalLabel{
	font-size: 20px;
}
.lvlTitle{
	font-size: 14px;
}
.modal-footer button {
    margin-bottom: 13px;
}
.conceptos .score, .conceptos .time {
	width: 72px;
    font-size: 14px;
}
.conceptos .boxTtl {
    top: 30px;
    left: 77px;
}
.conceptos .boxCoin {
	top: 30px;
	right: 77px;
  }
.ttl {
    width: 25px;
}
#BoxTuto{
	width: 95%;	
	bottom: initial;
	height: 515px;
}
#ModalTuto{
	overflow: auto;
}
.memoria .block, .conceptos .block {
    left: 40%;
}
.memoria .titAviso {
    padding: 38px 20px 16px 20px;
}
.level-difficulty h4 {
    font-size: 15px;
}
.products {
	height: 315px;
	overflow: auto;
}
.btnVer {
    padding: 4px 20px;
}
#LooseModal .modal-content, #WinModal .modal-content {
    height: initial;
}
.drag .menuLvl .level-difficulty button{
    min-width: 76%;
}
.block {
    left: 64%;
}
.titAviso {
	padding: 12px 10px 25px 10px;
	font-size: 18px;
}
.drag .level-difficulty button {
    min-width: 50%;
}
.crucigrama .level-difficulty button {
    width: 70%;
    min-width: 50%;
    white-space: inherit;
}
.drag .title {
    font-size: 14px;
}
.estrellas {
    top: 90px;
}
.drag  .txtStar {
    right: 26%;
}
.crucigrama .txtStar {
    right: 24%;
}
.discos #LooseModal .modal-content, #WinModal .modal-content {
    height: initial;
}
#LooseModal h2{
	font-size: 23px;
}
.click span{
	font-size: 12px;
}
.btnBox{
	margin-bottom: 25px;
}

#BoxAviso, #BoxAudi, #lvltxt{
	width: 100%;
	height: 197px;
  }
}
@media screen and (max-width: 297px){
	.block {
		display: none;
	}
	.bomba {
		width: 75px;
	}
	.memoria .titAviso {
		padding: 8px 20px 16px 20px;
	}
	.memoria #imagenes div {
		width: 28%;
		margin-left: 8px;
	}
}
