/* interactive */

#clues {
	position:fixed;
	bottom:0px;
	left:0;
	width:100%;	
	background-color:#fff;
	border:1px solid white;
	margin-left:-1px;
}

#clues-inner {
	width:840px;
	margin:auto;
	border-top:5px solid #38341c;
	padding-top:5px;
}
.clase{
	-webkit-transform : scale(1.2);
	-o-transform : scale(1.2);
	-mozt-transform : scale(1.2);
}
.clase { transition: all 0.5s cubic-bezier(0.680, -0.550, 0.265, 1.550); }

#clues ol {
	overflow:auto;
	height:200px;
}

#clues ol li {
    line-height:normal;
    padding:2px;
}

.number{
	font-family: arial;
	font-size: 10px;
	text-align: left;
	position: absolute;
	margin-top: -1px;
}

#crossword {
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	height: 100vh;
}
table{
	border-collapse: initial!important;
}
/*#crossword input {
	text-transform: lowercase;
}*/

#clues li.active {
	background-color:#006a97;
    color:#fff;
}

#stage-2 {
	border-bottom:none;
}
.crossword{
	margin-left: auto;
	margin-right: auto;
	clear: both;
    margin-top: 170px;
    margin-bottom: 160px;
	background-color: transparent;
	width:70%;
}
.crossword td{
	text-align: center;
	padding:0px;
	margin:0px;
	height: 41px;
	border: 1px solid #A2A2A2;
}
.crossword > tbody > tr > td{
	background-color:#FFF;
}
.crossword .no-border {
	border: none;
	background-color:transparent;
	visibility: hidden;
}
.crossword td.wrong input {
    font-weight:bold;
    color:#ab0d0d;
}

.crossword td.correct input {
    font-weight:bold;
    color:#009900;
}
.crossword td.highlighted  {
    color:#ffffff;
}

.crossword td.highlighted input {
    color:#ffffff;
	background-color:#006a97;
    background-color:rgba(1,1,1,0.0);
}


.crossword td.active {
	font-weight:bold;
    color:#fff;
}

.crossword td.active input {
    color:#fff;
	background-color:#009adb;
    background-color:rgba(1,1,1,0.0);
}

.hidden-field {
    border:none;
    background-color: transparent;
    text-align:center;
    font-family:"Courier New", Courier, monospace;
	width: 100%;
    height: 100%;
	font-size: 17px;
    color: white;
}
.imgAudi{
	width: 42px;
  }
  #ModalAudi{
	display: none;
	background: #000000ab;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 99999;
	top: 0;
	text-align: center;
  }
  #BoxAudi{
    background-image: url('../imgs/boxEnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  width: 310px;
  height: 200px;
  border-radius: 20px;
  }
  .titAudi{
    font-size: 20px;
    color: white;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 20px;
    padding: 14px 20px 7px 20px;
  
  }
  .boxTable h1{
	margin: 12px;
	color: #17446c;
  }
  #palabra10 h1{
	margin: 14px;
  }
  #palabra3 h1, #palabra8 h1 ,#palabra12 h1{
	margin: 2px;
}
#palabra13 h1, #palabra12 h1{
	margin: 6px;
}
#palabra15 h1, #palabra14 h1{
	margin: 5px;
}
#lvl5 h1{
	font-size: 32px;
  }


  #lvl3 .crossword{
    width: 210px;
    height: 160px;
  }

  #lvl5 .crossword{
	width: 245px;
	margin-top: 162px;
  }
  
#palabras{
	  margin-bottom:10px; 
}
#palabras span{
	color: #fff;
    font-size: 16px;
}
#palabras input{
	width: 25px;
    height: 18px;
}
#palabra1{
	position: absolute;
    top: 0;
	right: -42px
}
#palabra2{
	display: flex;
    position: absolute;
    bottom: -62px;
	left: 14px
}
#palabra3{
	position: absolute;
    top: 0;
	right: -33px;
}
#palabra4{
	display: flex;
    position: absolute;
    top: -56px;
    left: 26px;
}
#palabra6{
	position: absolute;
    top: 0;
	right: -30px;
}
#palabra5{
	display: flex;
    position: absolute;
    top: -55px;
    left: 18px;
}
#palabra7{
	display: flex;
    position: absolute;
	bottom: 7px;
    left: 18px;
}
#palabra8{
	position: absolute;
    top: 0;
	left: -30px;
}
#palabra9{
	display: flex;
    position: absolute;
    top: -55px;
    left: 16px;
}
#palabra10{
	display: flex;
    position: absolute;
	bottom: -81px;
    left: 17px;
}
#palabra11{
    position: absolute;
	bottom: -43px;
    right: -29px;
}
#palabra12{
	position: absolute;
    top: -5px;
    right: -55px;
}
#palabra13{
	display: flex;
    position: absolute;
	top: -44px;
    left: 91px;
}
#palabra14{
	position: absolute;
	bottom: -146px;
    left: -38px;
}
#palabra15{
	display: flex;
    position: absolute;
	bottom: -222px;
    left: 0px;
    height: 80px;
    
}
.cruci .modal-footer {
   padding: 0px;
  text-align: center; 
}

/* //////////////////////////////////////////ipv6//////////////////////////////////////////*/

.i6 #palabra1 h1{
	margin: 23px;
}
.i6 #palabra2 h1{
	margin: 17px;
}
.i6 #palabra3 h1, .i6 #palabra6 h1, .i6 #palabra8 h1{
	margin: 6px;
}
.i6 #palabra5 h1 ,.i6 #palabra4 h1,.i6 #palabra10 h1,.i6 #palabra11 h1,.i6 #palabra12 h1{
	margin: 9px;
}
.i6 #palabra7 h1, .i6 #palabra9 h1, .i6 #palabra16 h1{
	margin: 3px;
}
.i6 #lvl2 .crossword{
	height: 200px;
}
.i6 #palabra1{
	display: flex;
    position: absolute;
    bottom: unset;
    left: 15px;
    top: -62px;
    right: unset;
}
.i6 #palabra2{
	display: block;
    position: absolute;
    bottom: -11px;
    left: -47px;
}
.i6 #palabra3{
	position: absolute;
    display: flex;
	top: -45px;
    right: 4px;
}
.i6 #palabra4{
	display: block;
    position: absolute;
    top: 0px;
    left: unset;
    right: -35px;
}

.i6 #palabra5{
	display: flex;
    position: absolute;
    top: unset;
    left: 3px;
    bottom: -34px;
}
.i6 #palabra6{
	position: absolute;
    top: -46px;
    display: flex;
    right: 9px;
}
.i6 #palabra7{
	display: block;
    position: absolute;
    bottom: -27px;
    left: -30px;
}
.i6 #palabra8{
	position: absolute;
    top: unset;
    left: 8px;
    display: flex;
}
.i6 #palabra9{
	display: block;
    position: absolute;
    top: -8px;
    left: unset;
	right: -32px;
}
.i6 #palabra10{
	display: flex;
    position: absolute;
    bottom: unset;
	left: 66px;
    top: -49px;
}
.i6 #palabra11{
	position: absolute;
    bottom: -86px;
    right: unset;
    left: -35px;
}
.i6 #palabra12{
	position: absolute;
    top: unset;
    right: unset;
    left: 5px;
    bottom: -114px;
    display: flex;
}
.i6 #palabra13{
	display: block;
    position: absolute;
    top: -2px;
    left: -36px;
}
.i6 #palabra14{
	position: absolute;
    bottom: unset;
	right: -58px;
    top: 0;
    left: unset;
}
.i6 #palabra15{
	display: block;
    position: absolute;
    bottom: unset;
    left: 88px;
    top: 40px;
    height: auto;
    z-index: -1;
}    
.i6 #palabra15 .l2{
	display: none;    
}
.i6 #palabra15 .l3{
	margin-top: 45px;   
}
.i6 #palabra16{
	display: flex;
    position: absolute;
    bottom: unset;
    left: 0px;
    top: unset;
}
.i6 #palabra16 .l4,.i6 #palabra16 .l5,.i6 #palabra16 .l6,.i6 #palabra16 .l7,.i6 #palabra16 .l8{
	margin-left: 9px;
}
/* //////////////////////////////////////////tcp//////////////////////////////////////////*/

.tcp #palabra1 h1{
	margin: 23px;
}
.tcp #palabra2 h1{
    margin: 28px 17px;
}
.tcp #palabra3 h1, .tcp #palabra6 h1{
	margin: 6px;
}
.tcp #palabra7 h1{
	margin: 3px;
}
.tcp #palabra5 h1,.tcp #palabra4 h1 {
    margin: 3.5px;
    font-size: 34px;
}
.tcp #palabra9 h1,.tcp #palabra10 h1 ,.tcp #palabra11 h1 ,.tcp #palabra12 h1 {    
    margin: 8px 6px;
    font-size: 30px;
}
.tcp #palabra12 {
    position: absolute;
    top: unset;
    right: unset;
    left: 0px;
    bottom: -233px;
    display: flex;
}
.tcp #lvl2 .crossword{
    height: 200px;
    margin-top: 200px;
}
.tcp #lvl3 .crossword, .tcp #lvl3 .boxTable {
    width: 255px;
}

.tcp #palabra8 h1 {
    margin: 2px;
    font-size: 35px;
}
.tcp #palabra1{
	display: flex;
    position: absolute;
    bottom: unset;
    left: 15px;
    top: -62px;
    right: unset;
}
.tcp #palabra2{
    display: block;
    position: absolute;
    bottom: -5px;
    left: -47px;
}
.tcp #palabra3{
    position: absolute;
    display: flex;
    top: -45px;
    right: unset;
    left: 20px;
}
.tcp #palabra4{
	display: block;
    position: absolute;
    top: 0px;
    left: unset;
    right: -35px;
}

.tcp #palabra5{
    display: flex;
    position: absolute;
    top: unset;
    left: 3px;
    bottom: -155px;
}
.tcp #palabra6{
    position: absolute;
    top: -14px;
    right: -75px;
}
.tcp #palabra7{
    display: block;
    position: absolute;
    bottom: 56px;
    left: -30px;
}
.tcp #palabra8{
    position: absolute;
    top: unset;
    left: 0;
    display: flex;
    bottom: 0;
}
.tcp #palabra9{
    display: block;
    position: absolute;
    top: -5px;
    left: unset;
    right: 94px;
}
.tcp #palabra10{
    display: block;
    position: absolute;
    bottom: unset;
    left: unset;
    top: 35px;
    right: -32px;
}
.tcp #palabra11{
    position: absolute;
    bottom: -108px;
    right: unset;
    left: -35px;
}
.tcp #palabra12{
    position: absolute;
    top: unset;
    right: unset;
    left: 0px;
    bottom: -233px;
    display: flex;
}
.tcp #palabra13{
    display: block;
    position: absolute;
    top: -2px;
    left: unset;
    right: -34px;
}
.tcp #palabra14{
    position: absolute;
    bottom: unset;
    top: 120px;
    left: -35px;
}
.tcp #palabra15{
    position: absolute;
    bottom: unset;
    left: 8px;
    top: 40px;
    height: auto;
    
}    
.tcp #palabra16{
    position: absolute;
    left: 8px;
    height: auto;
    display: flex;
    bottom: -352px;  
}   
.tcp #palabra16 h1, .tcp #palabra15 h1 {
    margin: 0 10px;
}
.tcp #lvl4 .espacio{
    position: absolute;
    bottom: -205px;
    left: 2px;
}
.tcp #lvl5.boxTable {
    width: 255px;
}
/* //////////////////////////////////////////////////////////governance ////////////////////////////////////////////*/
.gov .boxTable .crossword {
    width: 220px;
    height: 151px;
}

.gov #lvl3 .crossword {
    width: 163px;
    height: 129px;
}
.gov #lvl4  .crossword {
    width: 245px;
    height: 151px;
}

.gov #palabra1 h1, .gov #palabra2 h1{
	margin: 8px;
}
.gov #palabra4 h1{
	margin: 20px;
}
.gov #palabra5 h1{
	margin: 18px;
}
.gov #palabra6 h1,.gov #palabra9 h1,.gov #palabra8 h1 ,.gov #palabra7 h1, .gov #palabra10 h1{
	margin: 2px;
}
.gov #palabra9 .l7,.gov #palabra9 .l8,.gov #palabra9 .l9{
	margin-left: 7px;
}
.gov #palabra1 {
    position: absolute;
    top: 0;
    right: -36px;
}
.gov #palabra2 {
    display: flex;
    position: absolute;
    bottom: 19px;
    left: 1px;
}
.gov #palabra3 {
    position: absolute;
    top: 0;
    right: 220px;
    left: -32PX;
}
.gov #palabra4 {
    display: flex;
    position: absolute;
    top: unset;
    left: 0;
    bottom: 0;
}
.gov #palabra5 {
    display: flex;
    position: absolute;
    top: -55px;
    left: 35px;
}
.gov #palabra6 {
    position: absolute;
    top: 0;
    right: 192px;
    left: -9px;
}
.gov #palabra7 {
    display: block;
    position: absolute;
    bottom: unset;
    left: 247px;
    right: -51px;
    top: 38px;
}
.gov #palabra8 {
    position: absolute;
    top: 0;
    left: -32px;
}
.gov #palabra9 {
    position: absolute;
	bottom: -31px;
    right: unset;
    display: flex;
    left: 0px;
    top: 199px;
}
.gov #palabra10 {
    display: flex;
    position: absolute;
    bottom: 14px;
    left: 108px;
}
td,
td div{
	position: relative;
}
td input{
	transition:.2s;
}
.td_input{
	border: 1px solid;
    background-color: #fff!important;
    z-index: 1;
}
@media screen and (max-width: 680px ){
	.crossword{
		width: 96%;
	}
} 
@media screen and (max-width: 480px){
	.modal-body{
		padding:10px; 
	}
	.modal .game-info{
		font-size: 12px;
	}
	.modal-header{
		padding: 5px;
	}
	.modal hr{
		margin: 12px 0px;
	}
	.level-difficulty h4{
		margin-top: 10px;
	}
	.help-input{
		background: #6a516bd5 ;  
	  }
	  .help-input::placeholder{
		color:white ; 		
	  }
	  .btnLetra{
		background: #17446cdc;
	  }
}
@media screen and (max-width: 450px ){
	.crossword{
		width: 600px;
	}
} 

