@font-face{
	font-family: 'Metriqs';
	src: url('../fonts/Metriqs.otf');
}

.square_button{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	cursor: pointer;
	border-width: 4%;
	border-radius: 10px;
	background: #577BE1;
	color: #000;
	opacity:1;
}

.square_button:hover{
	color: #000000;
	opacity:0.5;
}

body{
	font-family: 'Metriqs';
	background: black;
	text-align: center;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.menu_button{
	font-size: 40px;
	width: 80%;
	border-radius: 10px;
	color: #F2FF00;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	opacity:0.8;
	background: #000000;
}

#game{
	background: #000000;
	width: 100%;
	height: 100%;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
	
}

#main_menu,#selection_menu,#config_menu,#about_menu,#drag_selection_menu,#ip_selection_menu,#cross_selection_menu,#difficulty_menu{
	top: 0;
	position: absolute;
	background-image:url(../imgs/bgmain.jpg);
	background-size: auto 100%;
	background-repeat:no-repeat;
	background-position:center;
	width: 100%;
	height: 100%;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
}

.logobg{
	width:100%;
	background-color: rgba(89, 193, 34, 0.6);
	padding:4px 0;
}

#main_menu,#selection_menu,#config_menu,#about_menu,#game,#ip_selection_menu,#cross_selection_menu,#back_button,#drag_selection_menu,#difficulty_menu{
	visibility: hidden;
	transition:0.2s;
	-moz-transition:0.2s;
	-ms-transition:0.2s;
	-o-transition:0.2s;
	-webkit-transition:0.2s;
}

#easy_button{
	font-size: 38px;
	width: 80%;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	opacity:0.8;
	background: #000000;
}

#medium_button{
	font-size: 38px;
	width: 80%;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	opacity:0.8;
	background: #000000;
}

#hard_button{
	font-size: 38px;
	width: 80%;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 5px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	opacity:0.8;
	background: #000000;
}

#back_button{
	position: absolute;
	top: 2%;
	left: 2%;
	width: 40px;
	height: 40px;
	color:#FFFFFF;
}

ul{
	list-style-type: none;
}

#config_menu{
	color: #000000;
}

.activate{
	background-color: #00D503;
	padding: 10px;
	border-radius: 50%;
	font-size: 28px;
	color: #333;
	cursor:pointer;
}

.on{
	padding: 10px;
	font-size: 28px;
	color: #FFF;
	cursor: pointer;
	width: 160px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background: #000000;
	opacity:0.8;
	border-radius:10px;
	line-height: 40px;
}

.off{
	padding: 10px;
	font-size: 28px;
	color: #FFF;
	cursor: pointer;
	width: 160px;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	background: #000000;
	opacity:0.8;
	border-radius:10px;
	line-height: 40px;
	position:absolute;
}

.aboutTit{
	color: #F2FF00;
	font-size: 26px;
	margin-top: 15px;
	margin-bottom: 15px;
	height: 26px;
	vertical-align: bottom;
	background-color: rgba(33, 95, 0, 0.71);
	padding: 5px 0;
}

.aboutTit2{
	color: #F2FF00;
	font-size: 26px;
	margin-top: 15px;
	margin-bottom: 15px;
	vertical-align: bottom;
	background-color: rgba(33, 95, 0, 0.71);
	padding: 5px 0;
}

.aboutContent{
	color:#474747;
	font-size:28px;
	margin-top:5px;
	margin-bottom:5px;
}

.SelectGame{
	width: 60%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	border-radius: 10px;
	font-size: 34px;
	margin-top: 5px;
	margin-bottom: 5px;
	background-color: #577BE1;
	padding-top: 20px;
	padding-bottom: 20px;
}

.SelectGame:hover{
	opacity:0.5;
}

.row{
	width:100%;
	margin-top:10px;
	margin-bottom:10px;
}

.nameCredits{
	color:#FFFFFF;
	font-size:30px;
}
