  /*==================================================================================================================*/
/*                                             GENERAL STYLES                                                */
/*==================================================================================================================*/
@font-face{
  font-family: PermanentMarker;
  src: url(../fonts/PermanentMarker-Regular.ttf)
}
.ios{
  margin-top: 17px;
  background:transparent !important;
  overflow: hidden;
}
.ios .modal{
  overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: 100%;
}
:focus {
  outline: none !important;
}
.ios #cmbTime{
  border:0;
}
.ios .iosBar{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 17px;
	z-index: 123456789;
	background: white;
  }
.ios #contenedorCanvas, #contenedorCanvas2{
  display: none !important;
}
.ios .iosOflw{
  -webkit-overflow-scrolling: unset !important;
}
.loader {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(../imgs/fondox.jpg);
    background-position: left;
  background-repeat: no-repeat;
    background-size: cover;
  opacity: 1;
}
.loader:before {
	content:'';
	position: absolute;
  top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.4);
}
.iconload{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 35%;
  margin: auto;
  background-position: center;
    background-size: cover; 
    /* -webkit-animation: sk-rotateplane 5s infinite ease-in-out;
    animation: sk-rotateplane 5s infinite ease-in-out; */
}
@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(-120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(300px) rotateX(180deg) rotateY(0deg);
    -webkit-transform: perspective(300px) rotateX(180deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(300px) rotateX(-180deg) rotateY(-360deg);
    -webkit-transform: perspective(300px) rotateX(-180deg) rotateY(-360deg);
  }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}

.imgSolu{
    width: 100%;
    height: auto !important;
    background: url(../imgs/fondoScreen.png) center;
    padding: 36px;
    background-size: contain;
    background-repeat: no-repeat;
}
#contenedorCanvas{
  width: 100%;
  text-align: center;
  padding: 15px;
  display: none !important;
}
#contenedorCanvas2{
  display: none !important;
}
#contenedorCanvasWin{
  width: 100%;
  text-align: center;
  padding: 15px;
  display: none !important;
}
#contenedorSoluciones{
  width: 100%;
  text-align: center;
  padding: 15px;
  display: none;
}
.titSoluciones{
  color: white;
  font-size: 25px;
  padding-bottom: 15px;

}
.boxfin{
  opacity: 0;
}
#contenedorSoluciones .imgSol{
  width: 100%;
  height: auto;
}
.tab {
  overflow: hidden;
  text-align: center;
}

/* Style the buttons inside the tab */
.tab button {
    background: transparent;
    color: #fff;
    width: 100px;
    border: 1px solid #1F7A96;
    padding: 5px 0px;
    border-radius: 30px;
    font-size: 12px;
    margin: 1px 0;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #abca32;
  color: #fff;
}
.tab button:focus {
  outline: none;
}
/* Create an active/current tablink class */
.tab button.active {
  background-color: #abca32;
  color: #fff;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-top: none;
}
#ModalZoom{
	display: none;
	background: rgba(0, 0, 0, 0.726);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: scroll;
	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
  
  }
  .ovHidden{
    overflow: hidden !important;
  }
 
  .imgZm{
    width: 788px;
      padding:0  10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto; 
    }
    .x2{
    width: 1028px;
    }
    .x1{
    width: 668px;
    }
  .cerrarZoom{
    color: white;
    background: #092834;
    position: fixed;
    width: 200px;
    margin: auto;
    padding: 10px 0px;
    bottom: 0;
    left: 0;
    text-align: center;
    border-radius: 20px;
    right: 0;
    border: 1px solid white;
    z-index: 2;
  }
  		.cerrarZoom:hover{
			color: white;
			border: 1px solid white;
			background:transparent;
  		}
.bgazulL {
  background-color: #015A75;
  -webkit-box-shadow: inset 0px 36px 52px -17px #000000;
  box-shadow: inset 0px 36px 52px -17px #000000;
  height: -webkit-fill-available;
  font-family: sans-serif;
  height: 100vh;
}
.Login-title {
  text-align: center;
  color: #abca32 !important;
  font-size: 1.7rem;
  font-weight: 600;
  margin: 0;
  padding: 10px;
}
.Login-body {
  box-shadow: inset 0px 36px 52px -17px #033342;
  padding-top: 50px;
  color: white;
  font-size: 16px;
}
.atras{
  font-size: 30px;
    position: absolute;
    top: 0;
    left: 10px;
    color: white !important;
}
.score{
  background-image: url('../imgs/fondoPuntos.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  width: 102px;
  height: 52px;
  text-align: center;
}
.time{
  background-image: url('../imgs/fondoPuntos.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: right;
  width: 102px;
  height: 52px;
  text-align: center;
}
.btnHomeIcon{
  background-image: url('../imgs/home.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 50px;
  background-color: transparent;
  margin: 0 10px;
}
.bntAtrasIcon{
  background-image: url('../imgs/left.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 50px;
  background-color: transparent;
}
.bntNextIcon{
  background-image: url('../imgs/right.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 50px;
  background-color: transparent;
}
.btnPlayIcon{
  background-image: url('../imgs/play.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 50px;
  background-color: transparent;
}
.bntNextIcon:hover, .bntAtrasIcon:hover, .btnHomeIcon:hover, .btnPlayIcon:hover{
  opacity: .7;
}
.btnatras{
  background-image: url('../imgs/bntAtras.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: transparent;
  border: none;
  padding: 7px 15px;
  width: 75px;
  height: 40px;
  margin-top: 4px;
}
.btnHome{
  background-image: url('../imgs/btnhome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  text-decoration: none;
  border: 0;
  padding: 15px 30px;
  background-color: transparent;
  width: 68px;
  height: 52px;
  display: block;
  float: right;
}
.btnHome:hover{
 opacity: .8;
}
.caja{
  text-align: right;
  padding-bottom: 50px;
}

.inactive{
  opacity: 0.2;
}

.authentication_logout{

  position: relative;

  margin-bottom: 3%;

  margin-right: 8px;

  margin-top: 0;

  width: 100px;

  height: 40px;

  cursor: pointer;

  outline:none;

  border: none;

  color:#FFEC2B;

  background-color:#11718E;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;

}

.post{
  margin-top:1%;
  color:rgb(255, 255, 255);
  font-family: Arial;
  font-weight:bold;
  font-size: 15px;
}


.authentication_face{

  position: relative;

  margin-bottom: 3%;

  margin-right: 8px;

  width: 100px;

  height: 40px;

  margin-top: 10px;

  cursor: pointer;

  outline:none;

  border: 1px solid white;

  color:#FFEC2B;

  background-image: url("../imgs/login_face.jpg");

  background-size: 100% 100%;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;
}

.authentication_twitter{

  position: relative;

  margin-bottom: 3%;

  width: 100px;

  height: 40px;

  margin-top: 10px;

  margin-bottom: 10px;

  margin-right: 8px;

  cursor: pointer;

  outline:none;

  border: 1px solid white;

  color:#FFEC2B;

  background-image: url("../imgs/twitters.png");

  background-size: 100% 100%;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;


}

.authentication_inst{

  position: relative;

  margin-bottom: 3%;

  width: 100px;

  height: 40px;

  margin-top: 10px;

  margin-bottom: 10px;

  margin-right: 8px;

  cursor: pointer;

  outline:none;

  border: 1px solid white;

  color:#FFEC2B;

  background-image: url("../imgs/login_inst.jpg");

  background-size: 100% 100%;

  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-radius: 5px 5px 5px 5px;


}


.authentication_face:hover{

  opacity: 0.4;
}

.authentication_twitter:hover{

  opacity: 0.4;
}

.authentication_inst:hover{

  opacity: 0.4;
}

.authentication_face:active { 

  opacity: 0.9;
}

.authentication_twitter:active{

  opacity: 0.9;
}

.authentication_inst:active{

  opacity: 0.9;
}

.FB{
  position: relative;
  left: -5%;
  margin-top:1%;
  background-image: url("../imgs/facebook.png");
  background-size: 100% 100%;
  background-color:transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 40px;

}
.TW{
  position: relative;
  left: -4%;
  margin-top:1%;
  background-image: url("../imgs/twitter.png");
  background-size: 100% 100%;
  background-color:transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 40px;
}

.TW:hover{

   border-color:#f00;
  border-width: 10px;

}

.FB:hover{

   border-color:#f00;
  border-width: 10px;
  
}
.IG{
  display:none;
  position: relative;

  left: -3%;

  margin-top:1%;

  background-image: url("../imgs/Instagram.jpg");

  background-size: 100% 100%;

  background-color:white;

  outline: none;

  border: none;

  width: 40px;

  height: 40px;
  }
  .desc{
    color: yellow;
    float: left;
    position: absolute;
    bottom: 0px;
    padding: 0px 10px;
    font-size: 10px;
  }
  .ios .modal,.ios .modal-backdrop{
    top: 17px;
  }
  .ios .boxTtl, .ios .boxCoin{
    top: 76px;
}
.modal-open .modal{
  padding-left: 0px!important; 
}
.modal-dialog{
  width: 100%;
  min-height: 100%;
  margin: 0;
}
.modal-content{
  background-color: #14556a;
  color: #fff;
  padding-bottom: 10px;
  border: 0;
}
.modal .title{
  height: 100px;
  padding: 20px;
  border-bottom: 2px solid #0D7190;
}
.modal .title h3{
  display: inline-block;
  font-size: 1.3em;
}
.modal .title a i{
  font-size: 40px;
  color: #0DE2C6;
  border: 5px solid #fff;
  padding: 5px 5px 5px 8px;
  border-radius: 100%;
  width: 60px;
}
.modal .title a{
  float: right;
  border: 1px solid red;
  background: transparent;
  border: transparent;
}
.modal .title .animate{
  position: relative;
  text-align: center;
}
.modal .title a span{
  position: absolute;
  padding: 2px;
  border-radius: 5px;
  background: #033342;
  color: #FFF900;
  width: 100%;
  left: 0;
  bottom: -5px;
}
.modal-header{
  border-bottom: 0px;
  background: #073848;
  text-align: center;
  color: #FFEC2B;
  text-transform: uppercase;
}
.modal-body{
  box-shadow: inset 0px 36px 52px -17px #033342;
  position: relative;
}
.modal-footer{
  border: 0px; 
}
#LooseModal .modal-footer, #TTLModal .modal-footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  top: 175px;
  right: 0;
  left: 0;
  margin: auto;
  height: 80px;
  padding: 15px;
}
#WinModal .modal-footer{
  text-align: center;
  position: fixed;
  bottom: 0;
  top: 175px;
  right: 0;
  left: 0;
  margin: auto;
  height: 80px;
  padding: 15px;
}
#TTLModal .modal-footer{
  top: 40px;
}
#TTLModal  .modal-content{
  background: transparent;
}
#WinModal .modal-body, #LooseModal .modal-body,#TTLModal .modal-body{
  height: 100vh;
}
.modal-footer button{
  color: #fff;
  border: 0px;
}
.modal .game-info{
  font-family: arial;
  text-align: justify;
}
.level-difficulty h4{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 0.2px;
  text-transform: uppercase;
  color: #FFEC2B;
  text-shadow: #041F27 2px 3px 3px;
  margin-top: 30px;
  text-align: center;
}
.level-difficulty button{
  background-image: url('../imgs/botones-menu.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 180px;
  color: #fff;
  border: 0px;
  background-color: transparent;
  box-shadow: none;
  border-radius: 10px;
}
.level-difficulty button:hover{
  opacity: .8;
}
.btn-default:focus, .btn-default:hover {
  background-color: #e0e0e000;
  background-position: center center;
}
.modal hr{
  border-top: 1px solid #ffec2b
}
.head{
  color: #fff;
  font-size: 16px;
  background: rgba(10, 32, 49, 0.6);
  border-bottom: 1px solid rgb(0, 0, 0);
  padding: 4px;
  height: 63px;
  box-shadow: 0px 1px 3px 0 black;
}

.modal-title{
  font-family:PermanentMarker,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-transform: capitalize;
}

.drag input:disabled {
  color: white;
}
.modal .box{
  background-image: url('../imgs/boxEnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 10px;
  padding: 20px;
  position: absolute;
  top: 0;
  bottom: 120px;
  right: 0;
  left: 0;
  width: 375px;
  height: 245px;
  margin: auto;
}
.memoria #WinModal .modal-content{
  position: fixed;
  width: 100%;
  height: 100%;
}.disc #LooseModal .modal-content, #WinModal .modal-content{
  position: fixed;
  width: 100%;
  height: 100%;
}
.disc{
background: url(../imgs/fondo-ballons.png);
background-size: cover;
height: 100vh;
}
.disc .boxTtl {
  position: absolute;
  top: 22px;
  left: 95px;
  z-index: 10;
  width: 65px;
  height: 30px;
}
.disc .boxCoin {
  position: absolute;
  top: 22px;
  right: 95px;
  z-index: 10;
  width: 65px;
  height: 30px;
}
.disc #coin {
  right: unset;
  width: 40px;
  text-align: right;
  font-size: 14px;
}
.disc #LooseModal .modal-content, #WinModal .modal-content{
  position: fixed;
  width: 100%;
  height: 100%;
}
.disc.minMenu #levelModal .modal-content{
  height: 42vh;
}
.disc.minMenu #levelModal .modal-body{
  height: 26vh;
}
#LooseModal .modal-content, #WinModal .modal-content, #TTLModal .modal-content {
  position: fixed;
  width: 100%;
  height: 100vh;
}
#WinModal img,
#LooseModal img{
  height: 140px;
  margin: 0 auto;
}
#WinModal .modal-body, #LooseModal .modal-body, #TTLModal .modal-body {
  box-shadow: none;
}
#WinModal .modal-content, #LooseModal .modal-content, #TTLModal .modal-content {  
  background: transparent;
  box-shadow: none;
}
#WinModal h2{
  color: #52e352;
  margin: 0px;
  font-family: PermanentMarker;
  -webkit-text-stroke: 1px white;
  margin-top: 50px;
}
#WinModal h4{
  color: rgb(21, 201, 21);
  margin: 0px 0px;
}
#LooseModal h2{
  color: #990102;
  font-size: 40px;
  -webkit-text-stroke: .5px white;
  margin-top: 10px;
  font-family: PermanentMarker;
}
#LooseModal h4{
  color: #FF0102;
  margin: 0;
}
.UserPanel{
  background: #09283c;
  height: 32px;
  border-bottom: 2px solid #0e3e5d;
}
#InfoModal .modal-body button{
  background: #1f7a96;
  border: 0px;
  padding: 10px 35px;
  border-radius: 5px;
  margin: 2px 2px;
  display: inline-block;
  float: inherit;
}
.fb_iframe_widget {
  display: none !important;
}
.BtRegister,
.LoginFB,
.Login,
.LoginTwitter,
.LoginInstagram,
.GetInfo,
.Logout{
  background: #09283c;
  border: 0px;
  height: 45px;
  color: #ffffff;
  width: 80%;
  margin: 10px 0;
  border-radius: 3px;
}
.bgazulL .fab {
  float: left;
  font-size: 36px;
}
.LoginFB p,
.LoginTwitter p,
.LoginInstagram p {
  margin: 6px;
}
.userData img{
  float: left;
  max-width: 100px;
  padding: 5px;
  border: 1px solid #1e4856;
  margin-right: 10px;
}
/*==================================================================================================================*/
/*                                             SYLESHEET'S MAIN MENU                                                */
/*==================================================================================================================*/
.index{
  background: url('../imgs/fondo_full.jpg');
  font-family: accid;
}
.fb-login-button span{
  width: 245px!important;
  height: 45px!important;

}
.fb-login-button iframe{
  width: 289px!important;
  height: 42px!important;

}
.fb-share-button span{
  width: 245px!important;
  height: 45px!important;

}
.fb-share-button iframe{
  width: 289px!important;
  height: 42px!important;

}
.logo{
  display: block;
  margin:0 auto;
  width:500px;
  display: none;
}

.menu{
  height: 376px;
  position: relative;
}
.menu .opciones{
  height: 100%;
  width: 77%;
  float: left;
}
.menu .opciones > div{
  height: 35%;
  text-align: right;
  color: #FFF900;
  opacity: 0;
}
.menu .opciones > div h2{
  font-size: 80px;
  line-height: 0;
  position: relative;
  text-shadow: 0px 6px 4px #000;
  cursor: pointer;
}
.menu .opciones > div #settings{
  right: 18px;
}
.por .menu .opciones > div #settings{
  right: 2px;
}
.menu .opciones > div #play,
.menu .opciones > div #about{
  left: 14px;
}
.por .menu .opciones > div #play,
.menu .opciones > div #about{
  left: 36px;
}

.ui-effects-explode{
  height: 180px!important;
  border-radius: 5px;
  animation:spin 4s infinite;
  -webkit-animation-duration: 1.76s;
  -moz-animation-duration: 1.76s;
}
.menu .circulo{
  display: none;
  overflow: hidden;
  position: absolute;
  right: -150px;
}
.index {
  background-size: cover;
  overflow: hidden;
}
#accordion{
  list-style: none;
}
#accordion li ul{

  display: none;
  position: relative;
}
#accordion .detail > li{
  background: #014D64;
  padding: 15px;
}
ul{
  padding: 0px;
  list-style: none;
}
.col-img img{
  margin: 0 auto;
  position: relative;
}

.index #settingModal h3{
  display: inline-block;
  width: 100%;
}
.index #settingModal .modal-body > div{
  border-bottom: 1px solid #11718E;
}
.index .setting{
  float: right;
  padding: 18px 0px;
}
.index .setting span{
  border: 1px solid #11718E;
  padding: 8px 16px;
  margin: 5px;
  opacity: 0.5;
  border-radius: 4px;
}
.index .setting span.active{
  color: #FFEC2B;
  background: #11718E;
  opacity: 1;
}
.index .credit h2{
  background: #0D4F65;
  box-shadow: 0px 12px 22px -4px rgba(173, 169, 35, 0.41)
}
/*==================================================================================================================*/
/*------------------------------------------------------------------------------------------------------------------*/
/*==================================================================================================================*/


/*==================================================================================================================*/
/*                                             SYLESHEET'S DRAG GAME                                                 */
/*==================================================================================================================*/

.drag{
  background-image: url('../imgs/fondoDrag.jpg');
  background-size: cover;
  overflow: hidden;
}
.drag .title{
  font-size: 20px;
  color: #E8E8E2;
}
.drag #boxIpv4,
.drag #boxtcp,
.drag #boxudp,
.drag #boxdns,
.drag #boxipv6, .concepsBox{
  margin-top: 60px;
}

.drag #droppable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	float: left;
	margin: 10px;
}
.drag #draggable,
.drag #draggable-nonvalid {
	width: 100px;
	height: 100px;
	padding: 0.5em;
	float: left;
	margin: 10px 10px 10px 0;
}
.drag .caja{
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: #ddd;
  background: #674269;
  margin: 5px;
  padding: 10px 10px;
  border: 1px solid #5A365D;
  z-index: 3;
}
.drag #contenedor{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	text-align: center;
}
.drag .input{
  text-align: center;
  height: 50px;
  padding: 0!important;
  border: 1px solid #726292;
}
.drag .input::placeholder{
  color:black;
}
.help-input{
  background: #6a516b ;  
}
.help-input::placeholder{
  color:white !important; 
  
}
.drag .ui-state-highlight{
  background: #6a516b ;
  font-size: 20px;
  z-index: 2;
}
.drag .ui-state-highlight::placeholder{
  color:white
}
.drag #pregunta{
  padding: 10px;
}

/*==================================================================================================================*/
/*------------------------------------------------------------------------------------------------------------------*/
/*==================================================================================================================*/

/*==================================================================================================================*/
/*                                           SYLESHEET'S CONCEPTOS GAME                                             */
/*==================================================================================================================*/
#quest{
  bottom: 0;
  width: 100%;
  height: 45px;
  top: 63px;
  position: absolute;
  z-index: 100;
}
.ios #quest{
  top: 80px;
}
.boxInput{
  padding: 0 !important;
}
.boxChck{
  height: 30px;
  background: white;
  padding: 7px 0;
  border: 1px solid #726292;
  color: #21e321;
}
.dispNone{
  display: none !important;
}
.disab{
  position: relative;
  z-index: 1;
}
.blck{
  position: absolute;
  display: none;
  top:0;
  z-index: 2;
  width: 100%;
  height: 30px;
}
.txtPrg{
  height: 30px;
  padding: 0 4px !important;
  border: 1px solid #726292;
  margin: 0;
  background: #fff;
  overflow: hidden;
  text-align: left;
  line-height: 2;
  border-right: 0;
  padding-top: 0px !important;
  font-size: 16px;
}
.conceptos .fa-check{
  display: none;
}
.btnShw{
  position: relative;
  height: 30px;
  color: #fff;
  background: #17446C;
  border: none;
  margin: 0px;
  font-size: 16px;
}
.btnActive {
  background: rgb(42, 130, 207);
  display: block !important;
}
.fa-eye{
  left: 0;
  position: absolute;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  width: max-content;
  height: max-content;
    
}
.btnBorrar{
  background: #fff;
  color: rgb(42, 130, 207);
}
.ios .conceptos .boxTtl {
  top: 47px;
  left: 107px;
}
.boxRespuesta{
  margin: 10px 5px;
  position: relative;
}
.boxCuadro{
  height: 30px;
  background: white;
  padding: 5px 0;
  border: 1px solid #726292;
  border-left: 0;
  border-right: 1px solid white;
}
.Cuadro{
  width: 10px;
  height: 10px;
  background: rgb(43, 43, 43);
  margin: 4px 1px;
  float: right;
}
.btnBox{
  margin: 10px 4px;
}
.btnBox .btnShw{
  border: 1px solid white;
  padding: 4px;
  font-size: 13px;
  text-align: center;
  width: 100%;
  overflow: hidden;
  height: max-content;
}
.btnBox .row{
  margin: 2px;
}
.ios .modal-footer{
  padding: 35px 15px;
}
.conceptos .modal-content {
  height: 100vh;
}
.conceptos .boxTtl {
  top: 22px;
  left: 107px;
  width: 65px;
  height: 30px;
}
.conceptos .boxCoin {
  top: 22px;
  right: 107px;
  width: 65px;
  height: 30px;
}
.conceptos #coin{
  width: 40px;
}
#respuestas .relative {
  padding: 0;
}
.cpor .volver {
  width: 150px;
}
.conceptos .questionsTips {
  background-color: rgba(0, 0, 0, 0.8);
  color: #FFF;
  display: none;
  position: relative;
  font-family: "Courier New",Courier,monospace;
  font-size: 12px;
  padding: 5px 10px;
  line-height: 15px;
  height: 77px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
.conceptos .questionsTips::-webkit-scrollbar {
	width: 5px;
  background: #fff0;
}
.conceptos .questionsTips::-webkit-scrollbar-thumb {
	background: #fff;
  border-radius: 20px;
}

#concepsBox .row{
  margin: 2px 5px;
}
.chbox{
  margin-top: 8px !important;
}
.conceptos{
  background-image: url('../imgs/fondo-concepts.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  -webkit-overflow-scrolling: touch;
  overflow-y: auto;
}
 .conOverFw{
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  height: 100vh;
}
.conceptos .head{
  color: #fff;
  background: rgba(25, 10, 49);
  border-bottom: 1px solid #17446c;
  position: absolute;
  z-index: 1;
}
.ios .conceptos .head{
  top:30px;
}
.conceptos .title{
  font-size: 17px;
  color: #E8E8E2;
  background: #00000078;
    padding: 0 10px;
}

.conceptos .imgSolu{
  width: 100%;
}
.conceptos input:disabled {
  color: white;
}
.conceptos #concepsBox{
  margin-top: 139px;
}
.conceptos #droppable {
	width: 150px;
	height: 150px;
	padding: 0.5em;
	float: left;
	margin: 10px;
}
.conceptos #draggable,
.conceptos #draggable-nonvalid {
	width: 100px;
	height: 100px;
	padding: 0.5em;
	float: left;
	margin: 10px 10px 10px 0;
}
.conceptos .caja{
  text-align: center;
  display: inline-block;
  font-size: 15px;
  color: #ddd;
  background: #674269;
  margin: 5px;
  padding: 3px;
  border: 1px solid #5A365D;
  z-index: 3;
}
.conceptos #contenedor{
	width: 100px;
	height: 100px;
	border: 1px solid red;
	text-align: center;
}
.conceptos .input{
  text-align: center;
  height: 30px;
  padding: 0!important;
  border: 1px solid #726292;
}
.conceptos .input::placeholder{
  color:black;
}
.help-input{
  background: #6a516b ;  
}
.help-input::placeholder{
  color:white !important; 
  
}
.conceptos .ui-state-highlight{
  background: #6a516b ;
  font-size: 14px;
  z-index: 2;
}
.conceptos .ui-state-highlight::placeholder{
  color:white
}
.conceptos #pregunta{
  padding: 10px;
}
.ios .conceptos .ui-state-highlight {
  background: #6a516b;
  font-size: 14px;
  z-index: 2;
}
/*==================================================================================================================*/
/*------------------------------------------------------------------------------------------------------------------*/
/*==================================================================================================================*/

/*==================================================================================================================*/
/*                                           SYLESHEET'S MEMORIA GAME                                               */
/*==================================================================================================================*/

.memoria {
  background-image: url('../imgs/fondoMemoria.jpg');
  background-attachment: fixed;
  background-size: cover;
  color: #fff;
  overflow: hidden;
}
.memoria .head{
  height: 105px;
}
.memoria .overFw {
  height: calc(100vh - 105px);
  position: relative;
}
.memoria .caja{
  border: 1px solid red;
  width: 99%;
  height: 40px;
  text-align: center;
  color: #fff;
  background-color: #000;
  margin-top: 18%;
}
.memoria .caja2{
  color: #fff;
  background-color: rgba(20, 67, 193, 0.2);
  border: 1px solid #337ab7;
  text-align: center;
  margin-top: 18%;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);

  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  display: none;
  position: relative;
}
.memoria #imagenes {
  margin: auto;
  width: 100%;
  height: max-content;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.memoria #imagenes p{
  font-size: 17px;
  border-radius: 10px;
  margin: 0;
  height: 100%;
}
.memoria #imagenes.flipp p.back {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}
.memoria .flipp{
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  display: block;

}
.oculto{
  display: none !important;
}
.memoria .ocultar{
    opacity: 0 !important;
    pointer-events: none;
}
.memoria #imagenes div {
  background-image: url('../imgs/logo_carta.png');
  background-size: cover;
  float: left;
  width: 22%;
  height: 75px;
  background: -webkit-linear-gradient(#89E4A9,#4DEC81);
  background: -o-linear-gradient(#89E4A9,#4DEC81);
  background: -moz-linear-gradient(#89E4A9,#4DEC81);
  margin: 5px;
  padding: 5px;
  border: 1px solid #999;
  cursor: pointer;
  border-radius: .5em;
  box-shadow: 0 1px 2px rgba(0,0,0,.5);
  opacity: 3;
}
.memoria .link {
  font-size: 18px;
  color: #ffffff;
  text-decoration: none;
  background: #d54500;
  padding: 5px 10px;
  border-radius: .5em;
}
.memoria #time{
  float: right;
  margin-top: -66px;
}
.memoria .link:hover {
  background: #999;
}
.memoria *, .memoria *::after, .memoria *::before {
  box-sizing: border-box;
}

.memoria #imagenes.flipp div.front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.memoria #imagenes.flipp p.back {
  -webkit-transform: rotateY(360deg);
  -moz-transform: rotateY(360deg);
  -o-transform: rotateY(360deg);
}

.memoria #imagenes div.front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
}

.memoria #imagenes p.back {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}

.memoria div.front, .memoria p.back {
  width: 44%;
  height: 40%;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  border: rgba(0, 0, 0, 0.4) 1px solid;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  position: relative;
  padding: 10px;
}
.memoria p.back {
  background: rgba(255, 0, 0, 0.7);
}
.memoria .front-face.front-flip{
  position: absolute;
  display: none;
}
.memoria .front-face.front-flip img{
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
}
.memoria .front-face{
  position: relative;
}
.memoria .front-face img{
  background-color: rgba(0, 0, 5, 0.2);
  border: 1px solid rgb(29, 152, 139);
  border-radius: 10px;
  width: 88%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
}
audio{
  opacity: 0;
  pointer-events: none;
}

/*==================================================================================================================*/
/*------------------------------------------------------------------------------------------------------------------*/
/*==================================================================================================================*/


/*==================================================================================================================*/
/*                                            STYLESHEET'S DISC GAME                                                */
/*==================================================================================================================*/
.colorb{
  color: white;
}.colorb:hover{
  text-decoration: none;
  }
  .plus{
    position: absolute;
    font-size: 50px;
    font-weight: bold;
    color: rgb(226, 226, 13);
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 96px;
    height: 80px;
    margin: auto;
    z-index: 123;
  }
  .disc .head{
    position: fixed;
    width: 100%;
    background: rgb(0, 19, 33);
    border-bottom: 1px solid #FFFFFF;
    color: #fff;
    z-index: 5;
  }
  .disc #ActualQuestion{
    margin-top: 65px;
    position: fixed;
    width: 100%;
    color: #fff;
    font-size: 22px;
    background: rgba(255, 255, 255, 0.09);
    z-index: 4;
    border-bottom: 1px solid rgba(255, 255, 255, 0.09);
  }
  .disc .answer{
    position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.63);
    font-size: 26px;
    border-top:2px solid #4a71b0;
    height: 37px;
    z-index: 5;
  }
  .shotDisc{
    width: 130px;
    height: 45px;
    margin: auto;
    position: fixed;
    bottom: 37px;
    left: 0;
    right: 0;
    background: url('../imgs/btn-disc.png') no-repeat;
    background-size: cover;
    border: 0;
  }
  .shotDisc:active{
    opacity: 0.7;
  }
  .globo1,
  .globo2,
  .globo3,
  .globo4,
  .globo5,
  .globo6,
  .globo7{
    bottom: -105%;
    position: relative;
    float: left;
    width: 20%;
    height: 80px;
  }
  .conteo{
    font-size: 25px;
    color: white;
    background: #00000073;
    font-weight: bold;
    text-align: center;
    width: 130px;
    height: 35px;
    margin: auto;
    position: fixed;
    bottom: 37px;
    left: 0;
    right: 0;  
    z-index: 123; 
  }
  .click img{
    position: absolute;
    left: 0;
    opacity: 0.6;
    right: 0;
    margin: 0 auto;
  }
  .click span{
    position: absolute;
    left: 0px;
    right: 0;
    margin: 34px auto;
    width: 100%;
    z-index: 2;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
  }
  #box{
    background:url(../imgs/fondo-ballons.png);
    overflow: hidden;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0 !important;

  }
  .ballonsBox{
    height: 100%;
    width: 100%;
  }


/*==================================================================================================================*/
/*------------------------------------------------------------------------------------------------------------------*/
/*==================================================================================================================*/

/*==================================================================================================================*/
/*                                          STYLESHEET'S CRUSIGRAMA GAME                                            */
/*==================================================================================================================*/

.ios .crucigrama .head{
  top:17;
}
.crucigrama .cerrarZoom{
    width: 105px;
    bottom: 0;
    left: auto;
    right: 0;
}
.crucigrama .imgSolu {
  width: 284px;
}
.pad0{
  padding-left: 0;
  padding-right: 0;
}
.overFw {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: calc(100vh - 63px);
}

.relative{
  position: relative;
}
.star{
  width: 30px;
  height: 30px;
}
.starw{
  width: 30px;
  height: 30px;
  display: none;
  position: absolute;
}
.cajaStarw{
  position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 98px;
    height: 30px;
}
#weasy2, #wmid2, #whard2{
  left: 34px;
}
#weasy3, #wmid3, #whard3{
  left: 68px;
}
.winstarShadow2{
  width: 60px;
  height: 60px !important;
  position: absolute;
  right: 0;
  left: 138px;
  bottom: -15px;
}
.winstarShadow1{
  width: 60px;
  height: 60px !important;
  position: absolute;
  right: 141px;
  left: 0;
  bottom: -15px;
}
.winstarShadow{
  width: 90px;
  height: 90px !important;
  left: 0;
  right: 1px;
  bottom: -19px;
  position: absolute;
}
.winstar1{
  width: 60px;
  height: 60px !important;
  position: absolute;
  left:-28px;
  bottom: 25px;
  display: none;
}
.winstar2{
  width: 90px;
  height: 90px !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: none;
}
.winstar3{
  width: 60px;
  height: 60px !important;
  position: absolute;
  right: -28px;
  bottom: 25px;
  display: none;
}
.boxStarW{
  position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    width: 144px;
    height: 40px;
    margin: 0 auto;
}
#levelModal .boxStar{
  position: absolute;
    top: 0;
    right: 0;
}
#levelModal .modal-title{
  text-shadow: #041F27 2px 3px 3px;
  padding: 0 15px;
  font-size: 26px;
}
#levelModal .modal-content{
  background-image: url('../imgs/fondoTuto.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  box-shadow: none;
  height: 80vh;
  
  padding: 0 20px;
  background-color: transparent;
}
#levelModal .modal-body{
  box-shadow: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 64vh;
  padding: 5px;
}
#levelModal .modal-body::-webkit-scrollbar {
	width: 5px;
  background: #fff0;
}
#levelModal .modal-body::-webkit-scrollbar-thumb {
	background: #fff;
  border-radius: 20px;
}
#levelModal .modal-header{
  box-shadow: none;
  background-color: transparent;
}
#levelModal .modal-footer p{
  background-image: url('../imgs/fondoSelect.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  float: left;
  height: 50px;
  width: 170px;
  text-align: center;
  padding: 10px 0;
  float: left;
}
#levelModal .modal-footer select{
  background: #ffffff;
  border-radius: 53px;
  box-shadow: 0px 5px 11px 0px black;
  height: 32px;
}
.txtStar{
  position: absolute;
  top: 7px;
  right: 36px;
  color: white;
}
.mostrarw{
display:block !important;
}
.drag .imgSolu{
width: 100%;
}

.boxCoin{
  position: absolute;
  right: 10px;
  top: 64px;
  z-index: 10;
  background: url('../imgs/fondoCoin.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 35px;
}
#imgTTL{
  width: 110px;
}
.boxTtl{
  position: absolute;
  top: 64px;
  left: 10px;
  z-index: 10;
  background: url('../imgs/fondoTTL.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 80px;
  height: 35px;
}
.txtNotiene{
  color:black;
}
#ttl, #coin{
  font-size: 15px;
    position: absolute;
    left: 0;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
    height: max-content;
    color: white;
}
#coin{
  right: unset;
  width: 45px;
  text-align: right;
}
.wincoin{
  width: 30px;
  height: 35px !important;
  padding-bottom: 5px;
}
.ShowCoin{
  color: #f8cf00;
  font-size: 28px;
  position: absolute;
  left: 0;
  right: 0;
  top: 35px;
}
.coin{
  width: 30px;
}
.ttl{
  width: 30px;
}
#info{
  background-image: url('../imgs/info.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 33px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 10px;
  right: 7px;
}
.btnCompra{
  width: 100%;
  margin-top: 15px;
  background-color: transparent;
  background-image: url('../imgs/botones-modal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 5px;
  border: 0;
  color: #fafcfd;
  font-weight: bold;
  -webkit-text-stroke: .2px #0028af;
}
#TiempoTTL{
  background-image: url('../imgs/fondoPuntos.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: white;
  padding: 10px 0;
  margin: auto;
  width: 90px;
  height: 40px;
}
.delay-1s{
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
#reload{
}

.avisoStar{
  width: 30px;
  height: 30px;
}

.btnComprar{
  background-image: url('../imgs/botones-modal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 30px;
  margin: auto;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 0;
  font-weight: bold;
  position: absolute;
  z-index: 12;
  left: 0;
  right: 0;
  bottom: 15px;
}.btnComprar:hover{
  opacity: .8;
}
.tutoBtn{
  background-image: url('../imgs/botones-modal.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 200px;
  height: 30px;
  margin: auto;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 0;
  font-weight: bold;
  position: relative;
  z-index: 12;
  display: block;
}

.btnCancelar{
  width: 49%;
  margin: auto;
  bottom: -14px;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid black;
  font-weight: bold;
}
.mostrar {
  display: block !important;
}
#ModalAviso{
  display: none;
  background: #000000ab;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 99999;
  top: 0;
  text-align: center;
}
#ModalTuto{
  display: none;
  background: #000000ab;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;
    text-align: center;
}
#BoxTuto{
  background-image: url('../imgs/fondoTuto.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  width: 320px;
  height: max-content;
  padding: 10px;
}
#prev{
  background-image: url('../imgs/left.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color:transparent !important;
}
#next{
  background-image: url('../imgs/right.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color:transparent !important;
}
#BoxAviso{
  background-image: url('../imgs/boxEnd.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: transparent;
  width: 288px;
  height: 180px;
  border-radius: 20px;
}
.txtCheck{
  color: white;
}
.titAviso{
font-size: 15px;
top: -40px;
color: white;
left: 0;
right: 0;
margin:0;
border-radius: 20px;
padding: 22px 20px 60px 20px;
background-color: transparent;
}
.memoria .block, .conceptos .block  {
  left: 182px;
}
.titAvisoTuto{
  font-size: 14px;
  top: -40px;
  color: white;
  left: 0;
  right: 0;
  margin: 0;
  border-radius: 20px;
  padding: 30px 0 0 10px;
}
#lvltxt {
  background-image: url('../imgs/nivelF.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1212;
  width: 360px;
  height: 138px;
  font-size: 56px;
  text-align: center;
  color: #ffffff;
  padding: 22px 0;
}
#lvltxtD{
  background-image: url('../imgs/nivelF.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 1212;
  width: 360px;
  height: 138px;
  font-size: 40px;
  text-align: center;
  color: #ffffff;
  padding: 38px 0;
}
.card a {
  border-radius: 2px;
  padding: 8px 12px;
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 45px;
  height: 35px;
  margin: 5px;
}
.card a:hover, .card a:focus {
  color: #fff;
}

.card {
  max-width: 400px;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
}

.products {
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  height: 350px;
}

.product {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  width: 100%;
}
.product.active {
  opacity: 1;
  visibility: visible;
}
.thumbnail{
  background: transparent;
  border: 0px;
  box-shadow: none; 
}

.products .title {
  margin: 0 0 12px;    
  color: #fff;
  font-size: 15px;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}
.overFlw{
  position: inherit !important;
}

.footer {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: justify;
          justify-content: space-between;
  margin: 0 -12px -12px;
}

[ripple] {
  z-index: 1;
  position: relative;
  overflow: hidden;
}
[ripple] .ripple {
  position: absolute;
  background: #FFFFFF;
  width: 60px;
  height: 60px;
  border-radius: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-animation: ripple 2s;
          animation: ripple 2s;
}
.minMenu #levelModal .modal-content{
  height: 60vh;
}
.minMenu #levelModal .modal-body {
  height: 43vh;
}
/*---------------------------------------          ---------------------------------------*/
/*--------------------------------------- confetis ---------------------------------------*/
/*---------------------------------------          ---------------------------------------*/
*{
  margin: 0;
}
canvas {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
}
/*---------------------------------------          ---------------------------------------*/
/*--------------------------------------- confetis ---------------------------------------*/
/*---------------------------------------          ---------------------------------------*/
@-webkit-keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 0.2;
  }
  100% {
    -webkit-transform: scale(20);
            transform: scale(20);
    opacity: 0;
  }
}


.estrellas{
  position: absolute;
  top: 88px;
  left: 0;
  right: 0;
  color: white
}
.block{
  position: absolute;
  left: 200px;
  width: 20px;
  opacity: 0.8;
  top: 4px;
}
.disabl{
  width: 100%;
  height: 38px;
  background: transparent;
  z-index: 12;
  position: absolute;
  left: 0;
}
.modal-footer .disabl{
    width: 77px;
    height: 38px;
    background: #0000002b;
    z-index: 12;
    position: absolute;
    right: 0;
    left: 167px;
    top: 15px;
    margin: auto;
    border-radius: 60px;
}
.modal-footer .disabl1{
  width: 57px;
  height: 48px;
  background: #00000000;
  z-index: 12;
  position: absolute;
  right: 0;
  left: 150px;
  top: 15px;
  margin: auto;
  border-radius: 60px;
}
#nextLVL{
  z-index: 13;
}
.btnDisable{
  background-image: url('../imgs/botones-menu.png');
  color: #cbc4c4 !important;
  opacity: .7;
}
.cap {
  position: absolute;
  width: 100%;
  height: auto;
  top: 0;
  z-index: 0;
}
.retry{  
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.retry button{
  background-image: url('../imgs/bntAtras.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: transparent;
  border: none;
  padding:7px 15px;
  width: 65px;
  height: 35px;
}
.btnVer{
  background-image: url('../imgs/btnVer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  border: none;
  padding: 5px 20px;
  border-radius: 0px 20px 0px 0px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 199;
}
.retry button:hover, .btnVer:hover{
opacity: .8
}
.bomba{
  width: 90px;
}
.cruci #coin {
  width: 40px;
}
#TTLModal .txtTTL{
  font-size: 25px;
}
.boxTable{
  position: relative;
  margin-left: auto;
    margin-right: auto;
    clear: both;
    width: 220px;
    height: 220px;
    margin-top: 170px;
    background-color: transparent;
}
.boxTable .crossword{
width: 220px;
height: 220px;
}
.boxTable .crossword .no-border {
  width: 10px;
}
.boxTable .hidden-field{
  font-size: 30px;
    color: #101010;
}
.boxTable .crossword td {
  width: 55px;
}
.ver{
  width: 25px;
}
.btnLetra{
  background-image: url('../imgs/btnA.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  padding: 10px;
  background-color: transparent;
  position: fixed;
  bottom: 5px;
  right: 5px;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.ios .help-input{
  background: #6a516b !important;
}
.ios .drag .ui-state-highlight {
  background: #6a516b;
  font-size: 14px;
  z-index: 2;
}
.pantBlock{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 280px;
  height: 90%;
  display: none;
}
.btnJ img{
  width: 30px !important;
  height: 30px !important;
}
/*==================================================================================================================*/
/*-----------------------------------------------  nuevooooooooooooooo ------------------------------------------------------*/
/*==================================================================================================================*/

.area{
  background: #000000;
  /* background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);   */
  width: 100%;
  height:100vh;
  
 
}

.circles{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.circles li{
  position: absolute;
  display: block;
  list-style: none;
  width: 20px;
  height: 20px;
  background: rgba(255, 255, 255, 0.2);
  animation: animate 25s linear infinite;
  bottom: -150px;
  
}

.circles li:nth-child(1){
  left: 25%;
  width: 80px;
  height: 80px;
  animation-delay: 0s;
}


.circles li:nth-child(2){
  left: 10%;
  width: 20px;
  height: 20px;
  animation-delay: 2s;
  animation-duration: 12s;
}

.circles li:nth-child(3){
  left: 70%;
  width: 20px;
  height: 20px;
  animation-delay: 4s;
}

.circles li:nth-child(4){
  left: 40%;
  width: 60px;
  height: 60px;
  animation-delay: 0s;
  animation-duration: 18s;
}

.circles li:nth-child(5){
  left: 65%;
  width: 20px;
  height: 20px;
  animation-delay: 0s;
}

.circles li:nth-child(6){
  left: 75%;
  width: 110px;
  height: 110px;
  animation-delay: 3s;
}

.circles li:nth-child(7){
  left: 35%;
  width: 150px;
  height: 150px;
  animation-delay: 7s;
}

.circles li:nth-child(8){
  left: 50%;
  width: 25px;
  height: 25px;
  animation-delay: 15s;
  animation-duration: 45s;
}

.circles li:nth-child(9){
  left: 20%;
  width: 15px;
  height: 15px;
  animation-delay: 2s;
  animation-duration: 35s;
}

.circles li:nth-child(10){
  left: 85%;
  width: 150px;
  height: 150px;
  animation-delay: 0s;
  animation-duration: 11s;
}

#iconMusic{
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: auto;
}
.products::-webkit-scrollbar {
	width: 5px;
  background: #fff0;
}
.products::-webkit-scrollbar-thumb {
	background: #fff;
  border-radius: 20px;
}
.memoria  #imagenes .cajax3{
  width:30%;
	height:85px;
}
.memoria  #imagenes.boxImg{
  width: 95%;
}
.ajustesLoad{
  display: none !important;
}
@keyframes animate {

  0%{
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
  }

  100%{
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
  }

}
@media screen and (min-width: 768px) and (max-width: 1024px){
  #levelModal .modal-content {
    padding: 0 50px;
}
#BoxTuto{
  width: 384px;  
  height: 694px;
}
.products {
  height: 500px;
}
.memoria  #imagenes .cajax3{
  width: 30%;
  height: 120px;
}
.memoria  #imagenes.boxImg{
  width: 53%;
}
}
@media screen and (max-width: 480px){
  .modal .box{
    width: 358px;
    height: 220px;
  }
  #WinModal .modal-footer, #LooseModal .modal-footer {
    top: 220px;
  }
  #TTLModal .modal-footer{
    top: 150px;
  }
	.help-input{
		background: #6a516bd5 ;  
	  }
	.help-input::placeholder{
		color:white ; 		
	  }
    .drag .ui-state-highlight {
      background: #6a516bd5;
      font-size: 20px;
      z-index: 2;
  }
  .conceptos .ui-state-highlight {
    background: #6a516bd5;
    font-size: 15px;
    z-index: 2;
  }
}
@media screen and (max-width: 320px){
  .modal .box{
    height: 206px;
    width: 100%;
  }
  #WinModal h2{
    margin-top: 15px;
  }
  #WinModal .modal-footer, #LooseModal .modal-footer , #TTLModal .modal-footer{
    top: 160px;
  }
  .ShowCoin{
    top: 7px;
  }
  .boxStarW {
    top: -25px;
}
.winstarShadow2{
  bottom: 9px;
}
.winstarShadow1{
  bottom: 9px;
}
.winstarShadow{
  bottom: 5px;
}

}