body{
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-image: url('../imgs/fondoTrivia.jpg');  
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	background-position: center center;	 
	background-repeat: no-repeat;	  
	background-attachment: fixed;
	background-size: cover;  
	background-color:#464646;
}
@font-face{
  font-family: PermanentMarker;
  src: url(../fonts/PermanentMarker-Regular.ttf)
}
a{
	outline: none;
}
:focus {
  outline: none !important;
}
.btnJ{
	background: transparent;
		border: 0;
		margin: 0 20px;
}
.btnJ img{
  width: 40px !important;
  height: 40px !important;
}
.ios{
	overflow-y: scroll !important;
  -webkit-overflow-scrolling: touch;
  width: 100%;
  height: auto;
	}
	.ios #cmbTime{
		border:0;
	}
  .ios .iosBar{
	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 17px;
	z-index: 123456789;
	background: white;
  }
  .ios #menu{
margin-top: 12px;
  }
  .ios .message{
	margin-top: 17px;  
  }
  .modal{
	overflow-y: scroll !important;
	-webkit-overflow-scrolling: touch;
	width: 100%;
	height: 100vh;
  }
#ModalZoom{
	display: none;
	background: rgba(0, 0, 0, 0.726);
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: scroll;
	overflow-y: scroll;
  	-webkit-overflow-scrolling: touch;
  
  }
  .imgZm{
	width: 678px;
    padding:0  10px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto; 
  }
  .cerrarZoom{
	color: white;
    background: #092834;
    position: fixed;
    width: 200px;
    margin: auto;
    padding: 10px 0px;
    bottom: 0;
    left: 0;
    text-align: center;
    border-radius: 20px;
    right: 0;
    border: 1px solid white;
  }
  		.cerrarZoom:hover{
			color: white;
			border: 1px solid white;
			background:transparent;
  		}

.ptos{
	color: rgb(255, 255, 255);;
    font-size: 20px;
}
.co{
	background-image: url('../imgs/correcto.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
	float: left;
	width: 50%;
}
.inc{
	background-image: url('../imgs/incorrecto.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: #fff;
    width: 50%;
    float: left;
}
.modal-title {
	font-family: PermanentMarker,-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	text-transform: capitalize;
}
#presentation{
	font-family: Arial;
	font-weight: bold;
	font-size: 20px;
	color: #ffffff;
	margin-top: 15px;
	margin-left: 20px;
}
.overFw {
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    width: 100%;
    height: calc(100vh - 0px);
}

#command{
	background-image: url('../imgs/fondo-pregunta.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	position: relative;
	margin-top: 105px;
	height: 335px;
	overflow-y: auto;
	text-align: left;
	margin-left: auto;
	margin-right: auto;
	background-color: transparent;
	animation-name: comando;
	animation-duration: 2s;
}

#Question{
	background-image: url('../imgs/fondo-pregunta.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	position: relative;
	margin-bottom: 14%;
	height: 375px;
	background-color:transparent;
	-webkit-animation-name: question;
	text-align: left;
	-webkit-animation-duration: 2s;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}


#commandQuestion{
	font-family: Arial;
	color: white;
	line-height: normal;
	-webkit-animation-name: init;
	-webkit-animation-duration: 2s;
	overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
	width: 300px;
	height: 244px;
	margin: auto;
}
#commandQuestion::-webkit-scrollbar {
	width: 5px;
  background: #fff0;
}
#commandQuestion::-webkit-scrollbar-thumb {
	background: #fff;
  border-radius: 20px;
}
#titleQuestion{
	font-family: Arial;
	font-weight: bold;
	font-size: 17px;
	color:rgb(255, 255, 255);
	margin-left: 20px;
}

.respuesta{
	background-image: url('../imgs/boton-trivia.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: auto;
	outline: none;
	margin-top: 5px;
	font-family: Arial;
	cursor:pointer;
	background-color: transparent;
	padding:5px;
	width: 345px;
	height: 40px;
	position: relative;
	margin: 5px auto;
	padding: 10px 15px;
}
.respuesta:focus{
	border: 0;
}
.respuesta img{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	width: 20px;
	left: 10px;
}
.textRespuesta{
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	height: max-content;
	left: 37px;
	padding-right: 15px;
}

#menu{

	position: fixed;
	top:0px;
	z-index: 7;
	width: 100%;
	height: 105px;
	background-color: rgba(9, 40, 52, 1);
	border-bottom: 3px solid rgba(50, 176, 255, 1);
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright:5px;
	-moz-border-radius-bottomleft:28px;
	-moz-border-radius-bottomright:28px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	-webkit-border-bottom-left-radius:28px;
	-webkit-border-bottom-right-radius:28px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:28px;
	border-bottom-right-radius:28px;
}
.cap {
	position: absolute;
	width: 100%;
	height: auto;
	top: 0;
	z-index: 0;
  }

#volver{

	position:fixed; 

	bottom:0; 

	z-index: 100;

	background-color: rgba(9, 40, 52, 1);

	border: 2px solid rgba(50, 176, 255, 1);

	font-size: Arial;

	font-weight: 700;

	text-align: center;

	padding: 5px 10px;

	color:white;

	outline: none;

	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright:25px;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:25px;
	-webkit-border-bottom-left-radius:1px;
	-webkit-border-bottom-right-radius:0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 0px;

	
}
#volver:active{
	border: 3px solid rgba(175, 119, 62, 1);
}

#exit{

	position:fixed; 

	bottom:0; 

	z-index: 100;

	background-color: rgba(9, 40, 52, 1);

	border: 2px solid rgba(50, 176, 255, 1);

	font-size: Arial;

	font-weight: 700;

	text-align: center;

	padding: 5px;

	color:white;

	outline: none;

	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:1px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:25px;
	border-top-right-radius:0px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:0px;

	
}
#exit:active{

	border: 3px solid rgba(175, 119, 62, 1);
}
#score{
	background-image: url('../imgs/fondoPuntos.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	padding: 8px 0;
	width: 110px;
	height: 55px;
	text-align: center;
	color: white;
	margin: 5px;
}
  
#atras{
	position:fixed;
	bottom:0; 
	right: 0;
	z-index: 100;
	background-color: rgba(9, 40, 52, 1);
	border: 2px solid rgba(50, 176, 255, 1);
	font-size: Arial;
	font-weight: 700;
	text-align: center;
	padding: 5px 20px;
	color:white;
	outline: none;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-topright:0px;
	-moz-border-radius-bottomleft:1px;
	-moz-border-radius-bottomright:0px;
	-webkit-border-top-left-radius:25px;
	-webkit-border-top-right-radius:0px;
	-webkit-border-bottom-left-radius:1px;
	-webkit-border-bottom-right-radius:0px;
	border-top-left-radius:25px;
	border-top-right-radius:0px;
	border-bottom-left-radius:1px;
	border-bottom-right-radius:0px;

	
}

#atras:active{

	border: 3px solid rgba(175, 119, 62, 1);
}
.btnHome{
  background-image: url('../imgs/btnhome.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  text-decoration: none;
  border: 0;
  padding: 15px 30px;
  background-color: transparent;
  width: 68px;
	height: 52px;
	margin-left: auto;
}
.btnHome:hover{
 opacity: .8;
}
.bloquear{
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 8;
	background-color: rgba(0, 0, 0, 0.5);
	border: 0;
	box-shadow: none;
}

.message{
	overflow: auto;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	position: fixed;
	top:0;
	z-index: 16;
	width: 100%;
	height:100vh;
	animation-name: message;
	animation-duration: 2s;
	box-shadow: none;
	background-color: transparent;
}
.Contenido{	
	background-image: url('../imgs/fondoTuto.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom center;
	height:70vh;
	width: 100%;
	padding: 0 20px;
	position: absolute;
}
#content{

	position: relative;

	width: 100%;

	height: 100%;

	background-color: white;

	-moz-border-radius-topleft: 20px;
	-moz-border-radius-topright:20px;
	-moz-border-radius-bottomleft:20px;
	-moz-border-radius-bottomright:20px;
	-webkit-border-top-left-radius:20px;
	-webkit-border-top-right-radius:20px;
	-webkit-border-bottom-left-radius:20px;
	-webkit-border-bottom-right-radius:20px;
	border-top-left-radius:20px;
	border-top-right-radius:20px;
	border-bottom-left-radius:20px;
	border-bottom-right-radius:20px;
}



#failet h2 {
    
    color: #990102;
}

#failet h4{
	color: #FF0102;
}

#correct h2{
	margin-top: 0px;
    margin-bottom: 0px;
	color:#006600;
}

#correct h4{

	color:#13CD14;
}

.post{
	margin-top: 1%;
    color: rgba(32, 109, 124, 1);
    font-family: Arial;
    font-weight: bold;
    font-size: 15px;
}

.FB{
  position: relative;
  background-image: url("../imgs/facebook.png");
  background-size: 100% 100%;
  background-color:transparent;
  margin-right: 10px;
  outline: none;
  border: none;
  width: 50px;
  height: 40px;
}
.TW{
  position: relative;
  background-image: url("../imgs/twitter.png");
  background-size: 100% 100%;
  background-color:transparent;
  outline: none;
  border: none;
  width: 50px;
  height: 40px;
}
.IG{
display: none;
	position: relative;
  
	background-image: url("../imgs/Instagram.jpg");
  
	background-size: 100% 100%;

  background-color:white;

  margin-left: 5px;

  outline: none;

  border: none;

  width: 50px;

  height: 50px;
  }
  .relative{
	position: relative;
  }
  .star{
	width: 30px;
	height: 30px;
  }
  .starw{
	width: 30px;
	height: 30px;
	display: none;
	position: absolute;
  }
  .cajaStarw{
	position: absolute;
	  top: 0;
	  right: 0;
	  z-index: 1;
	  width: 98px;
	  height: 30px;
  }
  #weasy2, #wmid2, #whard2{
	left: 34px;
  }
  #weasy3, #wmid3, #whard3{
	left: 68px;
  }
  .btnPreguntas {
		background-image: url('../imgs/botones-menu.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 180px;
    color: #fff;
    border: 0px;
	background-color: transparent;
	border-radius: 15px;
}

  .btnacept{
	background: rgba(9, 40, 52, 1);
    border: 2px solid rgba(50, 176, 255, 1);
    color: white;
    border-radius: 14px;
  }
  .boxStarW{
    position: absolute;
    top: -30px;
    right: 0;
    left: 0;
    z-index: 1;
    width: 144px;
    height: 40px;
    margin: 0 auto;
  }
  #message .boxStar{
	position: absolute;
	  top: 0;
	  right: 0;
  }
  .txtStar{
	position: absolute;
	top: 7px;
	right: 36px;
	color: white;
  }
  .mostrarw{
  display:block !important;
  }
  .triviaStar{
	display: none;

  }
  .logotrivia{
	  padding-bottom: 20px;
  }
  .ocultar{
	display: none;
  }
  #times{
		background-image: url('../imgs/fondoPuntos.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		float: right;
		padding: 8px 0;
    width: 110px;
    height: 55px;
    text-align: center;
    color: white;
    margin: 5px;
	}
  #cmbTime{
	width: 95px;
    height: 35px;
    border-color: #056b8a;
	border-radius: 6px;
	padding-left: 28px;
  }
  hr {
	margin-top: 8px;
    border-top: 1px solid #056B8A;
}
.txtTrivia {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    letter-spacing: 0.2px;
    text-transform: uppercase;
    color: #FFEC2B ;
    text-shadow: #041F27 2px 3px 3px;
	margin-top: 10px;
	text-align: left;
	font-size: 18px;
    font-weight: 500;
}
#info{
  background-image: url('../imgs/info.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 33px;
  height: 27px;
  position: absolute;
  z-index: 1;
  top: 15px;
  right: 7px;
}
.txtTiempo{
	float: left;
	color: white;
	margin-top: 7px;
  margin-right: 5px;
}
.Contenido p{
	color:white;
}
.trivia-title{
	border-bottom: 0px;
    background: #073848;
    text-align: center;
    color: #FFEC2B;
    text-transform: uppercase;
}
.delay-1s{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
  }
  .boxCoin{
		position: absolute;
		right: 10px;
		top: 64px;
		z-index: 10;
		background: url('../imgs/fondoCoin.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 80px;
		height: 35px;
	}
	.modal-dialog {
    width: 100%;
    min-height: 100%;
    margin: 0;
}
  #imgTTL{
	width: 110px;
  }
  .boxTtl{
		position: absolute;
		top: 64px;
		left: 10px;
		z-index: 10;
		background: url('../imgs/fondoTTL.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 80px;
		height: 35px;
  }
  .txtNotiene{
	color:black;
	}
	#TTLModal .txtTTL{
		font-size: 25px;
	}
  #ttl, #coin{
		font-size: 15px;
    position: absolute;
    left: 0;
    right: 0px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: max-content;
		height: max-content;
		color: white;
	}
	#coin{
		right: unset;
    width: 45px;
    text-align: right;
	}
  .wincoin{
	width: 30px;
	height: 35px !important;
	padding-bottom: 5px;
  }
  .ShowCoin{
		color: #f8cf00;
    font-size: 28px;
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
  }
  .coin{
	width: 30px;
  }
  .ttl{
	width: 30px;
  }
  .btnCompra{
		width: 100%;
		margin-top: 15px;
		background-color: transparent;
		background-image: url('../imgs/botones-modal.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		padding: 5px;
		border: 0;
		color: #fafcfd;
		font-weight: bold;
		-webkit-text-stroke: .2px #0028af;
  }
  #TiempoTTL{
    background-image: url('../imgs/fondoPuntos.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    color: white;
    padding: 10px 0;
    margin: auto;
    width: 90px;
    height: 40px;
  }
  .delay-1s{
	-webkit-animation-delay: 1s;
	animation-delay: 1s;
  }
  #reload{
	position: absolute;
	left: 12px;
  }
  .avisoStar{
	width: 30px;
	height: 30px;
  }
  .btnComprar{
		background-image: url('../imgs/botones-modal.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 200px;
		height: 30px;
		margin: auto;
		border-radius: 10px;
		background-color: transparent;
		color: white;
		border: 0;
		font-weight: bold;
		position: absolute;
		z-index: 12;
		left: 0;
		right: 0;
		bottom: 15px;
  }.btnComprar:hover{
		opacity: .8;
	}
  .mostrar {
	display: block !important;
  }
  #ModalAviso{
	display: none;
	background: #000000ab;
	height: 100vh;
	width: 100%;
	position: absolute;
	z-index: 99999;
	top: 0;
	text-align: center;
  }
  #ModalAviso .btnComprar{
		margin-top: 0px;
    position: absolute;
    top: 138px;
    left: 0;
    right: 0;
  }

  #BoxAviso{
		background-image: url('../imgs/boxEnd.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: transparent;
		width: 288px;
		height: 180px;
		border-radius: 20px;
  }
  .tutoBtn{
		background-image: url('../imgs/botones-modal.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 200px;
		height: 30px;
		margin: auto;
		border-radius: 10px;
		background-color: transparent;
		color: white;
		border: 0;
		font-weight: bold;
		position: relative;
		z-index: 12;
		display: block;
  }
  .titAviso{
		font-size: 15px;
		top: -40px;
		color: white;
		left: 0;
		right: 0;
		margin:0;
		border-radius: 20px;
		padding: 22px 20px 60px 20px;
		background-color: transparent;
  }
  #ModalTuto{
	display: none;
	background: #000000ab;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: 99999;
	top: 0;
	text-align: center;
	}
	
  #BoxTuto{
		background-image: url('../imgs/fondoTuto.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		background-color: transparent;
		width: 320px;
		height: max-content;
		padding: 10px;
	}
	#prev{
		background-image: url('../imgs/left.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		color:transparent !important;
	}
	#next{
		background-image: url('../imgs/right.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		color:transparent !important;
	}
  .txtCheck{
	color: white;
  }
	.titAvisoTuto{
		font-size: 14px;
		top: -40px;
		color: white;
		left: 0;
		right: 0;
		margin: 0;
		border-radius: 20px;
		padding: 30px 0 0 10px;
	}
	
	.card a {
		border-radius: 2px;
    padding: 8px 12px;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    -webkit-transition: 0.5s ease;
    transition: 0.5s ease;
		width: 45px;
		height: 35px;
    margin: 5px;
	}
	.card a:hover, .card a:focus {
		color: #fff;
	}
	
	
	.card {
	  max-width: 400px;
	  border-radius: 12px;
	  box-sizing: border-box;
	  padding: 12px;
	  text-align: center;
	}
	
	.products {
	  position: relative;
	  overflow: hidden;
	  -webkit-transition: 0.5s ease;
	  transition: 0.5s ease;
	  height: 350px;
	}
	
	.product {
	  position: absolute;
	  top: 0;
	  left: 0;
	  opacity: 0;
	  visibility: hidden;
	  -webkit-transition: 0.5s ease;
	  transition: 0.5s ease;
	  width: 100%;
	}
	.product.active {
	  opacity: 1;
	  visibility: visible;
	}
	.thumbnail{
	  background: transparent;
	  border: 0px;
	  box-shadow: none; 
	}
	
	.products .title {
	  margin: 0 0 12px;    
	  color: #fff;
	  font-size: 15px;
	  -webkit-transition: 0.5s ease;
	  transition: 0.5s ease;
	}
	
	
	.footer {
	  display: -webkit-box;
	  display: flex;
	  -webkit-box-orient: horizontal;
	  -webkit-box-direction: normal;
			  flex-direction: row;
	  -webkit-box-pack: justify;
			  justify-content: space-between;
	  margin: 0 -12px -12px;
	}
	
	[ripple] {
	  z-index: 1;
	  position: relative;
	  overflow: hidden;
	}
	[ripple] .ripple {
	  position: absolute;
	  background: #FFFFFF;
	  width: 60px;
	  height: 60px;
	  border-radius: 100%;
	  -webkit-transform: scale(0);
			  transform: scale(0);
	  -webkit-animation: ripple 2s;
			  animation: ripple 2s;
	}
	
	@-webkit-keyframes ripple {
	  0% {
		-webkit-transform: scale(0);
				transform: scale(0);
		opacity: 0.2;
	  }
	  100% {
		-webkit-transform: scale(20);
				transform: scale(20);
		opacity: 0;
	  }
	}
	
	@keyframes ripple {
	  0% {
		-webkit-transform: scale(0);
				transform: scale(0);
		opacity: 0.2;
	  }
	  100% {
		-webkit-transform: scale(20);
				transform: scale(20);
		opacity: 0;
	  }
	}

  .estrellas{
		position: absolute;
		top: 88px;
		left: 0;
		right: 0;
		color: white
  }
  .blockCm{
	position: absolute; 
	z-index: 0;
	width: 100%;
  }
  .block{
	position: absolute;
	left: 199px;
	width: 20px;
	opacity: 0.8;
	top: 4px;
  }
  .disabl{
	width: 100%;
	  height: 35px;
		background: transparent;
    z-index: 12;
    position: absolute;
    left: 0;
  }
  .btnDisable{
		background-image: url('../imgs/botones-menu.png');
		color: #cbc4c4 !important;
		opacity: .7;
  }
  .closep5050{
	position: absolute;
    background-color: rgba(9, 61, 82, 0);
    border-radius: 20px 0 0 20px;
    height: 50px;
    z-index: 2;
  }
  .closeaudi{
	position: absolute;
    text-align: center;
    background-color: rgba(9, 61, 82, 0);
    padding: 2.5px;
    border-radius: 0 20px 20px 0;
    height: 50px;
    z-index: 2;
    right: 0;
  }
  .p5050{
	background-image: url('../imgs/btn-5050.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	position: relative;
	color: white;
    font-size: 25px;
	font-weight: bold;
	text-align: center;
	background-color: transparent;
	height: 50px;
	z-index: 1;
	padding-top: 6px;
  }
  .audiencia{
  background-image: url('../imgs/btn-audiencia.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
	position: relative;
	text-align: center;
	background-color: transparent;
	padding: 7px;
	height: 50px;
	z-index: 1;
  }
  .imgAudi{
	width: 42px;
  }
  #ModalAudi{
	display: none;
	background: #000000ab;
	height: 100vh;
	width: 100%;
	position: fixed;
	z-index: 99999;
	top: 0;
	text-align: center;
  }
  #BoxAudi{
    background-image: url(../imgs/boxEnd.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    background-color: transparent;
    width: 80%;
    height: 180px;
    border-radius: 20px;
	}
	.btnHomeIcon{
		background-image: url('../imgs/home.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 60px;
		height: 50px;
		background-color: transparent;
		margin: 0 10px;
	}
	.bntAtrasIcon{
		background-image: url('../imgs/left.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 60px;
		height: 50px;
		background-color: transparent;
	}
	.bntNextIcon{
		background-image: url('../imgs/right.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 60px;
		height: 50px;
		background-color: transparent;
	}
	.btnPlayIcon{
		background-image: url('../imgs/play.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		width: 60px;
		height: 50px;
		background-color: transparent;
	}
	.bntNextIcon:hover, .bntAtrasIcon:hover, .btnHomeIcon:hover, .btnPlayIcon:hover{
		opacity: .7;
	}
	
	.btnHome{
		background-image: url('../imgs/btnhome.png');
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		color: transparent;
		text-decoration: none;
		border: 0;
		padding: 15px 30px;
		background-color: transparent;
		width: 68px;
		height: 52px;
	}
	.btnHome:hover{
	 opacity: .8;
	}
  .titAudi{
    font-size: 20px;
    top: -40px;
    color: white;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 20px;
    padding: 40px 20px 7px 20px;
	}
	.modal-dialog {
    margin: 0;
	}
	#LooseModal .modal-content, #WinModal .modal-content, #TTLModal .modal-content {
    position: fixed;
    width: 100%;
		height: 100vh;	
		background: transparent;
		box-shadow: none;	
		border: 0;
}
#WinModal .modal-body, #LooseModal .modal-body, #TTLModal .modal-body {
	box-shadow: none;
	height: 100vh;
}
#levelModalLabel {
	text-shadow: #041F27 2px 3px 3px;
	padding: 0 15px;
	font-size: 26px;
	border-bottom: 0px;
	text-align: center;
	color: #FFEC2B;
	text-transform: uppercase;
	font-family: PermanentMarker;
	opacity: 0;
}
.modal .box {
	background-image: url('../imgs/boxEnd.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	border-radius: 10px;
	padding: 20px;
	position: absolute;
	top: 0;
	bottom: 120px;
	right: 0;
	left: 0;
	width: 375px;
	height: 245px;
	margin: auto;
	background-color: transparent;
}
.text-center {
	text-align: center;
}
#LooseModal h2 {
	color: #990102;
	font-size: 40px;
	-webkit-text-stroke: .5px white;
	margin: 0;
	margin-top: 10px;
	font-family: PermanentMarker;
}
#LooseModal h4 {
	color: #f7ff00;
	margin: 0;
}
#trivia .scores{
	width: 33.33%;
	float: left;
}
.post {
	margin-top: 1%;
	color: rgb(255, 255, 255);
	font-family: Arial;
	font-weight: bold;
	font-size: 15px;
}
#LooseModal .modal-footer, #TTLModal .modal-footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	top: 175px;
	right: 0;
	left: 0;
	margin: auto;
	height: 80px;
}
  .marg0{
	margin: 0px !important;
  }
	.score {
    background-image: url(../imgs/fondoPuntos.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    float: left;
    padding: 1px;
		width: 91px;
		height: 47px;
    text-align: center;
}
a:focus, a:hover {
	color: #23527c;
	text-decoration: underline;
}  
.modal-content {
    background-color: #015A75;
    color: #fff;
    padding-bottom: 10px;
}
.modal-header {
    border-bottom: 0px;
    background: #073848;
    text-align: center;
    color: #FFEC2B;
    text-transform: uppercase;
}
.modal-body {
    box-shadow: none;
}
.modal-footer {
		border: 0px;
		padding: 0;
		padding-top: 15px;
}
.modal-footer button {
    color: #fff;
    border: 0;
}
.ppt{

	width: 166px;

	height: 60px;
}
.retry{  
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 6;
}
.retry button{
  background-image: url('../imgs/bntAtras.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  color: transparent;
  border: none;
  padding:7px 15px;
  width: 65px;
  height: 35px;
}
.btnVer{
  background-image: url('../imgs/btnVer.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  color: transparent;
  border: none;
  padding: 5px 20px;
  border-radius: 0px 20px 0px 0px;
  font-size: 16px;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 199;
}
.retry button:hover, .btnVer:hover{
opacity: .8
}
.winstarShadow2{
  width: 60px;
  height: 60px !important;
  position: absolute;
  right: 0;
  left: 138px;
  bottom: 15px;
}
.winstarShadow1{
  width: 60px;
  height: 60px !important;
  position: absolute;
  right: 141px;
  left: 0;
  bottom: 15px;
}
.winstarShadow{
  width: 90px;
  height: 90px !important;
  left: 0;
  right: 1px;
  bottom: 10px;
  position: absolute;
}
.winstar1{
  width: 60px;
  height: 60px !important;
  position: absolute;
  left:-28px;
  bottom: 25px;
  display: none;
}
.winstar2{
  width: 90px;
  height: 90px !important;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 20px;
  display: none;
}
.winstar3{
  width: 60px;
  height: 60px !important;
  position: absolute;
  right: -28px;
  bottom: 25px;
  display: none;
}
#WinModal h2 {
	color: #52e352;
	margin: 0px;
	font-family: PermanentMarker;
	-webkit-text-stroke: 1px white;
	margin-top: 18px;
}
#WinModal h4 {
	color: rgb(21, 201, 21);
	margin: 0px 0px;
}
#WinModal img, #LooseModal img {
	margin: 0 auto;
}
#levelModal .modal-footer p {
	background-image: url(../imgs/fondoSelect.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	float: left;
	height: 50px;
	width: 170px;
	text-align: center;
	padding: 10px 0;
	float: left;
}
#LooseModal .modal-footer, #TTLModal .modal-footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	top: 175px;
	right: 0;
	left: 0;
	margin: auto;
	height: 80px;
	display: flex;
	width: max-content;
}
#lvltxt {
	background-image: url('../imgs/nivelF.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1212;
	width: 360px;
	height: 138px;
	font-size: 50px;
	padding: 35px 0;
	text-align: center;
	color: #ffffff;
}
.modal-footer .disabl1 {
	width: 57px;
	height: 48px;
	background: #00000000;
	z-index: 12;
	position: absolute;
	right: 0;
	left: 150px;
	top: 15px;
	margin: auto;
	border-radius: 60px;
}
#nextLVL {
	z-index: 13;
}
#WinModal .modal-footer {
	text-align: center;
	position: fixed;
	bottom: 0;
	top: 175px;
	right: 0;
	left: 0;
	margin: auto;
	height: 80px;
	display: flex;
	width: max-content;
}
#message .modal-title{
	text-shadow: #041F27 2px 3px 3px;
	padding: 0 15px;
}
#message .modal-content{
  background-image: url('../imgs/fondoTuto.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  box-shadow: none;
  height: 80vh;
  
  padding: 0 20px;
  background-color: transparent;
}
#message .modal-body{
  box-shadow: none;
  overflow-y: auto;
  height: 54vh;
  padding: 5px;
}
#message .modal-body::-webkit-scrollbar {
	width: 5px;
  background: #fff0;
}
#message .modal-body::-webkit-scrollbar-thumb {
	background: #fff;
  border-radius: 20px;
}
#message .modal-header{
  box-shadow: none;
  background-color: transparent;
}
.boxSelectTime{
  background-image: url('../imgs/fondoSelect.png');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 50px;
	width: 170px;
	text-align: center;
	padding: 10px;
	display: -webkit-inline-flex;
	float: left;
}
#message .modal-footer select{
  background: #ffffff;
  border-radius: 53px;
  box-shadow: 0px 5px 11px 0px black;
  height: 32px;
}

/*---------------------------------------          ---------------------------------------*/
/*--------------------------------------- confetis ---------------------------------------*/
/*---------------------------------------          ---------------------------------------*/
*{
  margin: 0;
}
canvas {
  background: rgba(0, 0, 0, 0);
  height: 100%;
  width: 100%;
  position: absolute;
}
/*---------------------------------------          ---------------------------------------*/
/*--------------------------------------- confetis ---------------------------------------*/
/*---------------------------------------          ---------------------------------------*/
@-webkit-keyframes nwcomand {

    0%   {bottom:-150%;}
    100%{bottom:0px;}
}

@-webkit-keyframes message {

    0%   {top:-150%;}
    100%{top:0px;}
}

@-webkit-keyframes comando {

    0%   { opacity: 0;}
    100%{opacity: 1;}
}

@-webkit-keyframes question {

    0%   {  opacity: 0;}
    100%{ opacity: 1;}
}

@-webkit-keyframes incorrecta {

    100%   { background-color: rgba(152, 19, 23, 0.0); border: 0px solid rgba(255, 0, 0, 0); color: white;}
}

@-webkit-keyframes correcta {

    100%   { background-color: rgba(113, 221, 12, 0);border: 0px solid rgb(113, 221, 12); color: white;}
}

@-webkit-keyframes next {

	0%	{ opacity: 1;}

    100%   { opacity: 0; }
}

@-webkit-keyframes init {

	0%	{ opacity: 0;}

    100%   { opacity: 1; }
}


@media all and (max-width: 480px){
	#WinModal .modal-footer, #LooseModal .modal-footer{
    top: 175px;
}

#TTLModal .modal-footer {
	top: 150px;
}
.modal .box {
	width: 95%;
	height: 220px;
}
	.respuesta{
		width: 100%;
		height: 40px;
		font-weight: bold;
		font-size:11px; 
	}
	#command{

		width:100%;
		padding: 2%;
	}

	#commandQuestion{

		font-size: 12px;
		
		font-weight: 800;
	}

	#Question{
		width:100%;
		padding: 5%;
	}
	#exit{
		font-size: 14px;
		right: 0;
	}

	.logo{		
		display: block;				
		position: relative;
		width: 60%;
	}
}



@media all and (min-width: 480px) and (max-width:780px){
	.Contenido{
		padding: 0 38px;
	}
	.respuesta{
		width: 475px;
		height: 55px;
		font-weight: bold;
		font-size:15px; 
	}
	#command{
		width: 600px;
    height: 493px;
    padding: 2%;
	}
	#presentation{
		margin-left: 60px;
	}
	#commandQuestion{
    height: 400px;
		font-size: 14px;
		width: 450px;
		font-weight: 800;
	}

	#Question{
		width: 525px;
    padding: 1%;
    margin: auto;
    height: 430px;
    margin-bottom: 20px;
	}

	#exit{
		font-size: 15px;
		bottom:0;
		width: 15%;
		}

	.logo{
		display: block;	
		position: relative;

		width: 20%;

		height: 20%;
	}


}

@media all and (min-width: 780px){
	#titleQuestion {
		font-size: 14px;
		margin-left: 60px;
	}
	#command{

		left: 16%;

		width:65%;

		padding: 2%;
	}

	#commandQuestion{

		font-size: 15px;
		
		font-weight: 800;
	}

	#Question{

		left: 20%;

		width:60%;

		padding: 1%;
	}

	.respuesta{
		font-weight: bold;
		font-size:15px; 
	}

	#exit{

		font-size: 16px;

		top:94.5%;

		left: 91%;

		width: 11%;

		text-align: center;
	}

	.logo{
		display: block;	
		position: relative;

		width: 10%;

		height: 10%;
	}
	

}
@media screen and (min-width: 600px){
	.block {
    left: 224px;
}
}
@media screen and (max-width: 320px){
	.Contenido{
		height: 75vh;
	}
	.modal .box {
		width: 95%;
		height: 252px;
	}
.pantBlock{	
    width: 249px;
}
.level-difficulty button{
	min-width: 50%;
}
.star {
    width: 23%;
    height: 28%;
}
.txtTTL{
	font-size: 25px;
}
#levelModalLabel{
	font-size: 26px;
}
.lvlTitle{
	font-size: 14px;
}
.modal-footer button {
    margin-bottom: 13px;
}
#LooseModal .conceptos .score , #LooseModal .drag .score{
	width: 100%;
}
#BoxTuto{
	width: 95%;	
	bottom: initial;
	height: 515px;
}
#ModalTuto{
	overflow: auto;
}

.level-difficulty h4 {
    font-size: 15px;
}
#lvltxt {
	height: 125px;
	font-size: 45px;
}
.boxStar{
	width: 50%;
  text-align: right;
}
.btnPreguntas {
	min-width: 50%;
}
.products {
	height: 315px;
	overflow: auto;
}
.block {
	left: 50%;
}
.btnVer {
    padding: 4px 20px;
}
#LooseModal .modal-content, #WinModal .modal-content {
    height: initial;
}
.titAviso {
	padding: 12px 10px 36px 10px;
	font-size: 15px;
}  

.estrellas {
    top: 90px;
}
#failet h2 {
	font-size: 25px;
}
.TW , .IG ,.FB{
	width: 35px;
	height: 35px;
}
#titleQuestion {
	font-size: 14px;
}
.titAudi {
	font-size: 16px;
}
#message .modal-body{
	height: 48vh;
}
}

@media screen and (max-width: 180px){
	.block {
		display: none;
	}
	
}
