<ion-header>
  <ion-navbar>
    <ion-title>Info</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="bgazul">
  <div  class="center"> 
    <div class="imgUser" ><img src="{{ImgUser}}" alt=""></div>  
    <div class="user" >{{Userlogin}}</div>
    <div class="center" ><button class="btnLogout" (click)="logout()">{{CerrarSesion}}</button></div> 
  </div> 
</ion-content>
