page-info {
    .imgUser{
        text-align: center;
    }
    .imgUser img{
        width: 40%;
    }
    .user{
        color: white;
        font-size: 22px;
        text-align: center;
    }
    .btnLogout{
        border-radius: 10px;
        background-image: url('../../assets/imgs/botones-menu.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
        min-width: 75%;
        height: 40px;
        font-size: 20px;
        border: 0px solid black;
        font-weight: bold;
        margin-top: 35px;
        background-color: transparent;
    }
    .center{
        text-align: center; 
    }
    .back-button .back-button-text{
        display: none !important;
    }
    .bgazul::before{
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #00000044;
    }
}
