
<!-- 
<ion-menu>
  <ion-header >
    <ion-toolbar class="logoBar">
      <ion-title><img   src="/assets/imgs/logoangelB.png" alt=""></ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="bgazul" padding>
    <div class="centro">
    <h3 class="selec">{{selec}}</h3>
  </div>
    <ion-list class="btnmenu">
      <button menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
        <ion-icon name="{{p.icon}}"></ion-icon>
        {{p.title}}
      </button> 
    </ion-list>
  </ion-content>
  
</ion-menu> -->

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" swipeBackEnabled="true"></ion-nav>