.ios {
    background-color: transparent;
    margin-top: 17px;
}
.toolbar-title-ios {
    color: #fff;
}
.toolbar-title-md {
    color: #fff;
    margin-right: 56px;
    text-align: center;
}
.toolbar-background-ios,.toolbar-background-md {
    background: #000000 !important;
    border-bottom: 2px solid #faf408!important;
}
.selec{
    font-size: 20px;
    color: #FFEC2B;
}
.centro{
    text-align: center;
}
.logoBar .toolbar-title-md {
    margin: 0 !important;
    padding: 0 90px;
}
.label {
    font-size: 17px !important;
    color: rgb(255, 255, 255) !important;
    text-align: left !important;
}
.bar-button-default-ios, .bar-button-default.bar-button-ios-default, .bar-button-clear-ios-default, .bar-button-default-md{
    color: #ffffff;
    background-color: transparent;
}
.bgazul {
    background-image: url('../../assets/imgs/fondox.jpg');
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position-x: right;
    -webkit-box-shadow: inset 0px 36px 52px -17px #000000;
    box-shadow: inset 0px 36px 52px -17px #000000;
}

.item-ios, .item-md {
    padding-left: 0px !important;
    background-color:transparent !important;
    color: #fff !important;
}

.toggle-ios-background-color-on,.toggle-md-background-color-on{
    color:#faf408 !important;
}
.btnmenu ion-icon {
    padding-right: 18px;
    font-size: 1.7em !important ;
}
.modal .game-info {
    font-family: arial;
    text-align: justify;
}
.modal-header {
    border-bottom: 0px;
    background: #073848;
    text-align: center;
    color: #FFEC2B;
    text-transform: uppercase;
}

// ------------------------splash ------------------------------------
.splash {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../assets/imgs/fondo_full.jpg");
    background-position: center center;
    background-size: cover;
}
.spinner {
    width: 150px;
    height: 150px;
    background-image: url('../assets/icon/iconsplash.png');
    background-position: center;
    background-size: cover;  
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 5s infinite ease-in-out;
    animation: sk-rotateplane 5s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(300px) rotateX(180deg) rotateY(0deg);
      -webkit-transform: perspective(300px) rotateX(180deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(300px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(300px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  .sk-folding-cube {
    margin: 20px auto;
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-transform: rotateZ(2deg);
            transform: rotateZ(2deg);
  }
  
  .sk-folding-cube .cube1 {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .cube1:before {
    content: '';
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image: url('../assets/icon/logo1.png');
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .cube2 {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); 
    }
    .sk-folding-cube .cube2:before {
      content: '';
      position: absolute;
      top: -4px;
      left: -4px;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url('../assets/icon/logo2.png');
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
              animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    .sk-folding-cube .cube3 {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); 
    }
    .sk-folding-cube .cube3:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url('../assets/icon/logo3.png');
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
              animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
    .sk-folding-cube .cube4 {
      float: left;
      width: 50%;
      height: 50%;
      position: relative;
      -webkit-transform: scale(1.1);
          -ms-transform: scale(1.1);
              transform: scale(1.1); 
    }
    .sk-folding-cube .cube4:before {
      content: '';
      position: absolute;
      top: 0;
      left: -4px;
      width: 100%;
      height: 100%;
      background-position: center;
      background-size: cover;
      background-image: url('../assets/icon/logo4.png');
      -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
              animation: sk-foldCubeAngle 2.4s infinite linear both;
      -webkit-transform-origin: 100% 100%;
          -ms-transform-origin: 100% 100%;
              transform-origin: 100% 100%;
    }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }
  
  
  
  
  
  
  