


<ion-content padding class="bghome" >
  <div class="boxIcons">
      <button [class]="classfacebook" (click)="shareFacebook()"><ion-icon name="logo-facebook"></ion-icon></button> 
      <button [class]="classtwitter" (click)="shareTwitter()"><ion-icon name="logo-twitter"></ion-icon></button>
      <button [class]="classinstagram" (click)="shareInstagram()"><ion-icon name="logo-instagram"></ion-icon></button>
      <button [class]="classAbout" [navPush]="about" ><ion-icon name="people"></ion-icon></button> 
      <button [class]="classMusica" onclick="SelecMusica()"><img src=""  id="iconMusic" class=""></button>
      <button [class]="classSettings" [navPush]="settings" ><ion-icon name="settings"></ion-icon></button>
  </div>
    


    <ion-grid class="centrado">
      <ion-row>
          <ion-col col-12><img [class]="classIconName" src="{{urlogo}}" alt=""></ion-col>
      </ion-row>
       <ion-row>
        <ion-col col-12><img [class]="classIcon" src="/assets/imgs/icon.png" alt=""></ion-col>
      </ion-row>      
      <ion-row>
        <ion-col col-12><button (click)="home()" [class]="classJugar"  >{{Jugar}}</button></ion-col> 
      </ion-row>
    </ion-grid>
    
    <div class="vers" id="checkFont">{{Version}}={{versionNum}} {{fechaVersion}}</div>

    
</ion-content>
<div id="capture">
<img class="cap" id="capImg" src="/assets/imgs/desAngel.png" alt="">
</div>