page-prehome {
    ion-icon {
            display: inline-block;
            font-size: 30px;
        }
    .bghome{
        background-image: url('../../assets/imgs/fondox.jpg');
        text-align: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-x: left;
        overflow:hidden;
        -webkit-box-shadow: inset 0px 36px 52px -17px #000000;
        box-shadow: inset 0px 36px 52px -17px #000000;
    }
    .bghome::before{
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #00000044;
    }
    .vers{
        position: fixed;
        bottom: 17px;
        font-size: 10px;
        color: yellow;
        text-align: center;
        width: 100%;
        left: 0;    
    }
    ion-fab[bottom] {
    bottom: 60px !important;
}
.cap{
    position:absolute;
    width: 100%;
    height: auto;
    top: 100%;
}
.iconos{
    height: 45px;
    width: 45px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: transparent;
}
.iconFace{
    background-image: url('../../assets/imgs/boton-facebook.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    right: 240px;
    color: white;
    
}
.icontwitter{
    background-image: url('../../assets/imgs/boton-twitter.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    right: 144px;
    color: white;
}
.centrado{
position: absolute;
top: 0;
bottom: 0;
left: 0;
right: 0;
height: max-content;
margin: auto;
padding: 25px;
}
.displaynone{
display: none;
}
.iconinstagram{
    background-image: url('../../assets/imgs/boton-instagram.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    right: 48px;
    color: white;
}
    .logo2{
        width: 200px; 
    }
    .btnjugar{
        border-radius: 10px;
        background: transparent;
        color: black;
        font-size: 30px;
        -webkit-text-stroke: 1px white;
        font-weight: bold;
        margin-top: 35px;
        
    }
    .btnsetting{
        background-image: url('../../assets/imgs/boton.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    color: white;
    left: 240px;
    }
    .btnmusica{
        background-image: url('../../assets/imgs/boton.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
        left: 144px;
        }
    .btnacerca{
        background-image: url('../../assets/imgs/boton.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
        left: 48px;
    }

      .boxIcons{
        position: absolute;
        top: 5px;
        left: 0;
        right: 0;
        margin: auto  ;
        width: 286px;
      }
      .btnsetting .contents {
        opacity: 0;
        transition: opacity 0.3s;
      }
      
      
      .btnsetting:hover .contents {
        visibility: visible;
        opacity: 1;
      }
      .toolbar-title-md {
        color: #fff;
        margin-right: 0 !important;
        text-align: center;
    }
      .Imgtitu{
          width: 125px;
          margin-left: 20%;
      }
      .back-button.show-back-button {
        display: none !important;
    }
    .Iconbar{
        font-size: 45px !important;
    }
    


      @media (min-width: 768px){
        .Imgtitu {
        margin-left: 0;
        }
        .logo2{
            padding-top: 10%;
            width: 300px;
        }
}
@media (min-width: 600px){
    .centrado {
    height: 512px;
    }
}

@media screen and (min-width: 1px) and (max-width: 310px){

 ion-icon {
    display: inline-block;
    font-size: 24px;
}
.btnjugar {
    font-size: 20px;
}
.logo2 {
    width: 149px;
}
    .iconFace{
        right: 100px;    
    }
    .icontwitter{
        right: 0;
    }
    .iconinstagram{
        left: 100px;
        right: 0;
    }
    .btnsetting{
        top:50px;
        left: 100px;
    }
    .btnmusica{
        top:50px;
        left: 0;
        }
    .btnacerca{
        top:50px;
        right: 100px;
        left: 0;
    }
    .boxIcons {
        width: 100%;
    }
} 
    
}
