page-setting {
    .back-button-text {
        opacity: 0;
    }
    .autentxt{
        font-size: 17px;
        color: white;
        padding-left: 7px;
    }
    ion-icon {
        font-size: 30px !important;
        color: white;
        padding: 5px 10px;
    }
    .button-ios {
        background-color: #abca32 !important;
        padding: 0 1.8em !important;
    }
    .toggle-ios.toggle-checked .toggle-icon {
        background-color: #abca32 !important;
    }
    .toolbar-title-ios {
        color: #abca32 !important;
    }
    .imgUser{
        text-align: center;
    }
    .imgUser img{
        width: 40%;
    }
    .user{
        color: white;
        font-size: 22px;
        text-align: center;
    }
    .email{
        color: white;
        font-size: 22px;
        text-align: center;
    }
    .facebook{
        background-image: url('../../assets/imgs/boton-facebook.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .twitter{
        background-image: url('../../assets/imgs/boton-twitter.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .instagram{
        background-image: url('../../assets/imgs/boton-instagram.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    .btnLogin{
        background-image: url('../../assets/imgs/botones-menu.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-width: 75%;
        height: 40px;
        color: #fff;
        font-size: 20px;
        margin-bottom: 20px;
        border: 0px;
        background-color: transparent;
        position: relative;
        z-index: 1;
    }
    .btnLogout{
        border-radius: 10px;
        background-image: url('../../assets/imgs/botones-menu.png');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        color: white;
        min-width: 75%;
        height: 40px;
        font-size: 20px;
        border: 0px solid black;
        font-weight: bold;
        margin-top: 35px;
        background-color: transparent;
    }
    .center{
        text-align: center; 
    }
    .BtnLang{
        background:transparent;
    }
    .btIcon{
    font-size: 15px !important;
    color: white;
    padding: 0 !important;
    }
    .label {
        display: inline;
        padding: .2em .6em .3em;
        font-size: 24px!important;
        font-weight: 700;
        line-height: 1;
        color: #fff;
        text-align: center;
        white-space: nowrap;
        vertical-align: baseline;
        border-radius: .25em;
        -webkit-text-stroke: .8px black;
        color: #ffff00 !important;
    }
    .bgazul::before{
        content: '';
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background: #00000044;
    }
}
