<!--
  Generated template for the SettingPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar>
      <ion-title>{{TitPag}}</ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding class="bgazul">
  <!-- <ion-item>
      <ion-label>{{txtMusica}}</ion-label>
      <ion-toggle [(ngModel)]="Musica" (ionChange)="SelecMusica();"></ion-toggle>
  </ion-item> -->
  <ion-item>
      <ion-label>{{txtEfectos}}</ion-label>
      <ion-toggle [(ngModel)]="Efectos" (ionChange)="SelecEfectos();"></ion-toggle>
  </ion-item>
  <ion-item>
      <ion-label>{{txtAnimacion}}</ion-label>
      <ion-toggle [(ngModel)]="Animacion" (ionChange)="SelecAnimacion();"></ion-toggle>
  </ion-item>
  <ion-item>
    <ion-label >{{txtIdioma}}</ion-label>
    <button class="BtnLang" item-end (click)="showCheckbox()">
        <span> {{Lan}} <ion-icon class="btIcon" name="arrow-dropdown"></ion-icon></span>
    </button>
  </ion-item> 
  
  
  <h4 class="autentxt">{{Autentic}}</h4>
    <br>
  <div *ngIf="!Login" class="center"> 
      <button class="btnLogin" (click)="LogIN()"> {{iniciarsesion}} </button>
    <div> 
      <ion-icon class="facebook" name="logo-facebook"></ion-icon>
      <ion-icon class="twitter" name="logo-twitter"></ion-icon>
      <ion-icon class="instagram" name="logo-instagram"></ion-icon>
    </div> 
  </div>   
  <div *ngIf="Login" class="center"> 
    <div class="imgUser" ><img src="{{ImgUser}}" alt=""></div>  
    <div class="user" >{{Userlogin}}</div>
  </div>  
  
  </ion-content>
  